.breadcrumbBox {
    overflow: hidden;
    color: rgba(var(--colorText), var(--opacityNormal));
    font-size: calc(var(--fontSizeNormal) - 0.025rem);
    font-weight: normal;
    a {
        color: rgb(var(--colorText));
        &:hover {
            color: rgb(var(--colorTextLight));
        }
        &:after {
            @include fontAwesome;
            content: '\f101';
            margin-right: 0.5rem;
            margin-left: 0.75rem;
            font-size: 0.6rem;
        }
    }
}