/* color mặc định */
$opacity-to-hex: (
    0       : '00',
    0.05    : '0C',
    0.1     : '19',
    0.15    : '26',
    0.2     : '33',
    0.25    : '3F',
    0.3     : '4C',
    0.35    : '59',
    0.4     : '66',
    0.45    : '72',
    0.5     : '7F',
    0.55    : '8C',
    0.6     : '99',
    0.65    : 'A5',
    0.7     : 'B2',
    0.75    : 'BF',
    0.8     : 'CC',
    0.85    : 'D8',
    0.9     : 'E5',
    0.95    : 'F2',
    1       : 'FF'
);
@mixin colorOpacity($property, $color, $opacity, $important:null) {
    #{$property}: unquote($color + map-get($opacity-to-hex, $opacity)) $important;
}
$bg-1           : #212529;
$bg-09          : #343a40;
$bg-08          : #495057;
$bg-07          : #6c757d;
$bg-06          : #adb5bd;
$bg-05          : #ced4da;
$bg-04          : #dee2e6;
$bg-03          : #e9ecef;
$bg-02          : #EDF2F7;
/* ===== không sửa trực tiếp ở đây do dùng replace */
$colorLv1       : #00FA9A;
$colorLv2       : #00E38C;
// $colorLv2       : #00bd7d;

/* ===== */
$colorSLv1      : #FF6500;
$colorSLv2      : #CD5C08;
/* ===== */
// $colorButtonLv1 : #00bd7d;
// $colorButtonLv2 : #004f3f;
$colorButtonLv1 : #00bd7d;
$colorButtonLv2 : #006d57;
/* ===== */
$colorTextLight : #ffd100;
// $colorTitle     : #ffffffCC;
$colorTitle     : #c6d8fd;
/* ===== */
$colorText      : #c0d0f1;
$colorIcon      : #5a7dc2;
/* ===== */
$colorLabel     : #ad8e70;
/* ===== */
$colorPrice     : #ffd100;
$colorStar      : #ffd100;
$colorSuccess   : #00bd7d;
$colorRed       : #FF6500;

$colorBackgroundLv1: #1a202c;
$colorBackgroundLv2: #2d3848;
$colorBackgroundLv3: #3a4556;

/* font chữ */
/* @font-face {
    font-family: 'Segoe-UI Light';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/SegoeUI-Light.ttf');
    font-display: swap;
} */

@font-face {
  font-family: 'Segoe-UI';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/SegoeUI.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Segoe-UI Semi';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/SegoeUI-SemiBold.ttf');
}

@font-face {
  font-family: 'Segoe-UI Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/SegoeUI-Bold.ttf');
}

/* @font-face {
  font-family: 'SVN-Gilroy Thin';
  font-style: normal;
  font-weight: 400;
  src: url(//bizweb.dktcdn.net/100/438/408/themes/919724/assets/svn-gilroy_regular.ttf?1698220622470);
  font-display: 'Swap';
}

@font-face {
  font-family: 'SVN-Gilroy Light';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(//bizweb.dktcdn.net/100/438/408/themes/919724/assets/svn-gilroy_regular.ttf?1698220622470);
} */

@font-face {
  font-family: 'SVN-Gilroy';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('/fonts/svn-gilroy_medium.ttf');
}

@font-face {
  font-family: 'SVN-Gilroy Med';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/fonts/svn-gilroy_med.ttf');
}

@font-face {
  font-family: 'SVN-Gilroy Semi';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/svn-gilroy_semibold.ttf');
}

@font-face {
  font-family: 'SVN-Gilroy Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/svn-gilroy_semibold.ttf');
}
$fontTitle: "SVN-Gilroy Bold", sans-serif;
$fontText: "SVN-Gilroy", sans-serif;
/* mixin title */
@mixin titleDefault {
  color: $colorText;
  font-family: $fontTitle;
  font-size: 1.1rem;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
  &:dir(rtl), [dir="rtl"] & {
    text-align: right;
  }
  @media(max-width: 1199px){
    font-size: 1.05rem;
    // margin-bottom: 0.5rem;
  }
  @media(max-width: 991px){
    font-size: 1rem;
    letter-spacing: 0.25px;
  }
  // @media(max-width: 767px){
  //   font-size: 0.95rem;
  //   letter-spacing: 0.25px;
  // }
}

$heightMenu : 3.3rem;

@mixin fontAwesome {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

@mixin slickArrowCircle {
  .slick-track {
    display: flex;
    justify-content: flex-start;
    float: left;
  }
  .slick-slider {
    position: relative;
    button {
      width: 35px;
      height: 35px;
      border: none;
      outline: none;
      background: $colorBackgroundLv3;
      border-radius: 50%;
      color: $colorText;
      opacity: 0.5;
      &:hover {
        opacity: 0.75;
        color: $colorTextLight;
      }
    }
    .slick-arrow {
      position: absolute;
      top: 45%;
      transform: translateY(-50%);
      z-index: 2;
      cursor: pointer;
      &.slick-prev {
          left: -20px;
      }
      &.slick-next {
          right: -20px;
      }
      @media(max-width: 1199px){
        display: none !important;
      }
    }
  }
}

@mixin productGrid {
  display: flex;
  &_item {
    border-radius: 0.75rem;
    .show {
      width: 100%;
      height: auto;
      opacity: 1;
      transition: opacity 0.5s;
    }
    .hide {
      width: 0;
      height: 0;
      opacity: 0;
    }
    &:not(:first-child){
        margin-left: 2rem;
    }
    &_image {
      margin-bottom: 1rem;
      position: relative;
      border-radius: inherit;
      display: flex;
      aspect-ratio: 1/1;
      transition: all 0.3s;
      padding: 0.5rem;
      &:hover {
        padding: 0rem;
      }
      img {
        border-radius: inherit;
        width: 100%;
        display: flex;
        object-fit: contain;
      }
      &_rating {
        position: absolute;
        top: 0;
        left: 0;
        @include colorOpacity('background', $colorText, 0.7);
        padding: 0.1rem 0.5rem;
        display: flex;
        color: #fff;
        font-size: 0.8rem;
        border-top-left-radius: inherit;
        border-bottom-right-radius: inherit;
        img {
          width: 12px;
          margin-right: 0.25rem;
        }
        > * {
          display: flex;
          &:not(:first-child){
            margin-left: 0.25rem;
            padding-left: 0.25rem;
            border-left: 1px solid $bg-07;
          }
        }
      }
      &_percent {
        position: absolute;
        top: 0;
        right: 0;
        @include colorOpacity('background', $colorPrice, 0.8);
        padding: 0.1rem 0.5rem;
        display: flex;
        color: #fff;
        font-size: 0.8rem;
        font-family: $fontTitle;
        border-top-right-radius: inherit;
        border-bottom-left-radius: inherit;
      }
    }
    &_imageList {
      display: flex;
      margin-bottom: 0.75rem;
      &_item {
          width: calc(20% - 0.4rem);
          height: calc(20% - 0.4rem);
          border-radius: 50%;
          cursor: pointer;
          overflow: hidden;
          &:not(:first-child){
              margin-left: 0.5rem;
          }
          img {
            width: 100%;
            height: 100%;
            display: flex;
            transition: all 0.3;
            border-radius: inherit;
            object-fit: cover;
          }
          &.selected, &:hover {
              border: 1px solid $colorLabel;
          }
      }
    }
    &_content {
      &_title {
        margin-bottom: 0.25rem;
        h2, h3, h4 {
          font-family: $fontTitle;
          font-size: 1.05rem;
          margin-bottom: 0 !important;
          @include colorOpacity('color', $colorText, 0.9);
          line-height: 1.5;
        }
      }
      &_price {
        margin-bottom: 0.5rem;
        color: $colorPrice;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 1px;
        display: flex;
        align-items: flex-end;
        > span {
            font-size: 1rem;
            font-weight: normal;
            @include colorOpacity('color', $colorText, 0.6);
            text-decoration: line-through;
            margin-left: 1rem;
        }
      }
    }
  }
  @media(max-width: 767px){
    &_item {
      &:not(:first-child){
        margin-left: 1.25rem;
      }
      &_content {
        &_price {
          font-size: 1.05rem;
          letter-spacing: 0.5px;
          > span {
            font-size: 0.95rem;
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
}

@mixin highLight {
  font-size: 1.1rem;
  font-family: $fontTitle;
  color: $colorTextLight;
  margin-right: 0.25rem;
}

@mixin backgroundModal {
  display: none;
  position: fixed;
  top: $heightMenu;
  left: 0;
  width: 100%;
  height: 100%;
  @include colorOpacity('background', $colorBackgroundLv2, 0.8);
  z-index: -1;
  &:hover {
    display: none !important;
  }
}

@mixin iconCloseSquare {
  position: absolute;
  top: 0;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1rem;
  background: $colorBackgroundLv2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  right: 0;
  &:dir(rtl), [dir="rtl"] & {
    right: unset;
    left: 0;
    border-top-right-radius: unset;
    border-bottom-left-radius: unset;
    border-top-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }
  i {
    font-size: 1rem;
    @include colorOpacity('color', $colorText, 0.5);
  }
  &:hover {
      background: $colorBackgroundLv1;
  }
}

@mixin itemSearchProduct {
  display: flex;
  gap: 1rem;
  align-items: stretch;
  color: inherit;
  position: relative;
  padding: 1rem;
  margin: 0;
  &:hover {
    color: inherit;
  }
  &:nth-child(2n + 0) {
    // @include colorOpacity('background', $colorBackgroundLv3, 0.5);
    background: rgba($colorBackgroundLv3, 0.5);
  }
  &_image {
      flex: 0 0 70px;
      aspect-ratio: 1/1.05;
      border-radius: 0.75rem;
      overflow: hidden;
      display: flex;
      img {
        width: 100%;
        object-fit: cover;
        transition: all 300ms;
        scale: 1.05;
        &:hover {
          scale: 1.2;
        }
      }
  }
  &_content {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      justify-content: space-between;
      &_title {
        line-height: 1.55;
        color: inherit;
        margin-top: -0.25rem;
        margin-bottom: 0.25rem;
        font-size: 0.9rem;
      }
      &_price {
          color: $colorPrice;
          font-weight: bold;
          letter-spacing: 2px;
          font-size: 0.95rem;
          display: flex;
          gap: 0.75rem;
          > span {
              font-weight: normal;
              @include colorOpacity('color', $colorText, 0.6);
              letter-spacing: 0;
              text-decoration: line-through;
          }
      }
      &_orther {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          &_total {
              font-weight: normal;
              > span {
                  color: $colorPrice;
                  font-weight: bold;
              }
          }
      }
      &_action {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 30px;
          aspect-ratio: 1/1;
          position: absolute;
          cursor: pointer;
          bottom: 0;
          right: 0;
          &:dir(rtl), [dir="rtl"] & {
            right: unset;
            left: 0;
          }
          img {
              width: 22px;
              height: 22px;
              transition: all 300ms;
              &:hover {
                scale: 1.1;
              }
          }
      }
  }
}

@mixin backgroundFillWallpaperOfProduct {
  &_background, &_backgroundTopMore, &_backgroundSideMore {
    // Thêm will-change vào các phần tử có hiệu ứng animation để tận dụng GPU
    will-change: opacity;
  }
  &_background {
    /* làm tối viền */
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: #000;
    z-index: -2;
    pointer-events: none;
    overflow: hidden;
    // mix-blend-mode: darken;
    /* Hiệu ứng mờ dần */
    // opacity: 1; /* Bắt đầu từ trạng thái ẩn */
    // animation: fadeInBackground 0.5s ease-in-out 0.5s forwards; /* Trì hoãn 0.2 giây trước khi bắt đầu */
  }
  &_backgroundTopMore {
    /* làm tối viền phần trên thêm */
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 5%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.375) 15%, transparent);
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
    // mix-blend-mode: darken;
    /* Hiệu ứng mờ dần */
    // opacity: 1; /* Bắt đầu từ trạng thái ẩn */
    // animation: fadeInBackground 0.5s ease-in-out 0s forwards; /* Trì hoãn 0 giây trước khi bắt đầu */
  }
  $colorFill : #000;
  &_backgroundSideMore {
    /* làm tối viền phần trên thêm */
    position: absolute;
    top: 0px;
    left: 0;
    width: 99%;
    height: 100%;
    background: linear-gradient(90deg, rgba($colorFill, 0.5) 0%, rgba($colorFill, 0) 4.5%, rgba($colorFill, 0) 95.5%, rgba($colorFill, 0.5) 100%);
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
    // mix-blend-mode: darken;
    /* Hiệu ứng mờ dần */
    // opacity: 1; /* Bắt đầu từ trạng thái ẩn */
    // animation: fadeInBackground 0.5s ease-in-out 0s forwards; /* Trì hoãn 0 giây trước khi bắt đầu */
  }
  // /* Định nghĩa animation */
  // @keyframes fadeInBackground {
  //   0% {
  //     opacity: 0;
  //   }
  //   100% {
  //     opacity: 1;
  //   }
  // }
  /* làm mờ nền */
  &_backgroundBlur {
      filter: blur(5px);
      -webkit-filter: blur(5px);
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba(0,0,0,0.6);
      height: 6rem;
      width: 100%;
      z-index: -1;
      border-radius: 0 0 2rem 2rem; /* do hiệu ứng blur nên bo sâu hơn */
  }
}

@mixin scrollbarCustom {
  &::-webkit-scrollbar-thumb {
    background-color: rgba($colorBackgroundLv1, 0.8);
    border-radius: 1000px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 0.5rem;
    background: $colorBackgroundLv3;
  }
}

@mixin infoOfBlog {
  display: flex;
  gap: 0.5rem;
  font-size: 0.8rem;
  > * {
      background: $colorBackgroundLv3;
      padding: 0.15rem 1rem;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      box-shadow: 0 2px 7px rgba($colorBackgroundLv1, 0.5);
      @media(max-width: 767px){
          padding: 0.15rem 0.75rem;
          &:last-child {
              display: none;
          }
      }
      @media(max-width: 767px){
          padding: 0.15rem 0.5rem;
      }
  }
  i {
      opacity: 0.75;
  }
}