.fullLoading {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--colorBackgroundLv1), 0.5);
  backdrop-filter: blur(8px);
  transition: all 0.3s;
  z-index: 9999999;
  &.show {
    visibility: visible;
    opacity: 1;
  }
  &_box {
    color: rgb(var(--colorTitle));
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: rgb(var(--colorBackgroundLv1));
    padding: 0.75rem 1rem;
    border-radius: $radiusBoxSmall;
    max-width: 480px;
    width: calc(100% - 2rem);
    &_text {
      color: rgb(var(--colorText));
      font-size: var(--fontSizeNormal);
    }
  }
  
}

.loadingBox {
    display: none;
    margin: 0.5rem auto;
    scale: 0.6;
    width: fit-content;
    &.show {
      display: flex;
    }
}

.loadingIcon {
  --scale: 0.75; /* Base scale factor, adjust this to resize everything */
  width: calc(80px * var(--scale));
  height: calc(40px * var(--scale));
  position: relative;
  display: flex;
  margin: 0;
}

.loadingIcon::before,
.loadingIcon::after {
  position: absolute;
  content: '';
  top: calc(6px * var(--scale));
  background-color: rgb(var(--colorLv1));
  opacity: var(--opacityNormal);
  width: calc(28px * var(--scale));
  height: calc(28px * var(--scale));
  border-radius: 50%;
  animation: loadingIcon-anim 1s linear infinite;
}

.loadingIcon::after {
  background-color: rgb(var(--colorPrice));
  animation-delay: 0.5s;
  opacity: 0.55;
}

@keyframes loadingIcon-anim {
  0%,
  100% {
    top: calc(6px * var(--scale));
    left: 0;
    width: calc(28px * var(--scale));
    height: calc(28px * var(--scale));
    z-index: 0;
  }

  25% {
    top: 0;
    height: calc(40px * var(--scale));
    width: calc(40px * var(--scale));
    z-index: 1;
    left: calc(20px * var(--scale));
  }

  50% {
    top: calc(6px * var(--scale));
    width: calc(28px * var(--scale));
    height: calc(28px * var(--scale));
    left: calc(48px * var(--scale));
  }

  75% {
    top: calc(8px * var(--scale));
    width: calc(28px * var(--scale));
    height: calc(28px * var(--scale));
    left: calc(26px * var(--scale));
  }
}