.tocContentMain {
    border-radius: $radiusBoxSmall;
    position: relative;
    background: rgb(var(--colorBackgroundLv2));
    &_title {
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-bottom: 1px solid var(--colorShadow);
        color: rgb(var(--colorText));
        display: flex;
        gap: 1rem;
        &_icon {
            &::before {
                @include fontAwesome;
                content: "\f0ca";
            }
        }
    }
    &_list {
        padding: 0.25rem 1rem 1rem;
        font-size: calc(var(--fontSizeNormal) - 0.025rem);
        max-height: 500px;
        &:dir(ltr), [dir="ltr"] & {
            text-align: left;
        }
        &:dir(rtl), [dir="rtl"] & {
            text-align: right;
        }
        &_item {
            display: flex;
            padding-top: 0.325rem;
            color: rgb(var(--colorText));
            &:not(:first-child){
                margin-top: 0.5rem;
                border-top: 1px dashed var(--colorShadow);
            }
        }
    }
    &_close {
        width: 40px;
        height: 40px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        top: 0.3rem;
        right: 0;
        &:dir(rtl), [dir="rtl"] & {
            right: unset;
            left: 0;
        }
        &:before {
            @include fontAwesome;
            content: '\f077';
            font-size: calc(var(--fontSizeNormal) - 0.125rem);
            opacity: 0.5;
        }
        &.hidden {
            display: flex !important;
            &::before {
                @include fontAwesome;
                content: '\f054';
            }
        }
    }
    &.tocFixed {
        display: none;
        position: fixed;
        height: 100%;
        max-width: 20rem;
        min-width: 17rem; /* là chiều ngang của headerSide */
        z-index: 101;
        top: 128px;
        box-shadow: 0 0 7px rgb(var(--colorShadow));
        left: 0;
        &:dir(rtl), [dir="rtl"] & {
            left: unset;
            right: 0;
        }
        .tocContentMain_list {
            display: block !important;
        }
        .tocContentMain_close {
            &:before {
                @include fontAwesome;
                content: '\f057' !important;
                font-size: calc(var(--fontSizeNormal) + 0.375rem);
            }
        }
    }
    @media(max-width: 991px){
        &_title {
            padding: 0.5rem 0.75rem;
        }
        &_list {
            padding: 0.25rem 0.75rem 0.75rem;
        }
    }
    @media(max-width: 767px){
        &_title {
            padding: 0.5rem;
        }
        &_list {
            padding: 0.25rem 0.5rem 0.5rem;
        }
    }
}
.tocFixedIcon {
    display: none;
    position: fixed;
    width: 32px;
    height: 32px;
    background: rgb(var(--colorBackgroundLv2));
    border-radius: $radiusBoxSmall;
    cursor: pointer;
    border: 1px solid rgb(var(--colorBackgroundLv3));
    z-index: 100;
    opacity: var(--opacityNormal);
    margin-bottom: 0 !important;
    top: 50%;
    left: 0;
    &:dir(rtl), [dir="rtl"] & {
        left: unset;
        right: 0;
    }
    &:hover {
        opacity: 1;
    }
    > div {
        text-align: center;
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
        &:before {
            content: "\f0ca";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: calc(var(--fontSizeNormal) + 0.275rem);
        }
    }
    @media(max-width: 767px){
        left: 0.25rem !important;
    }
}
.contentElement {
    max-width: 660px;
    margin: 0 auto;
}