.pageCartBox {
    display: flex;
    align-items: stretch;
    &_left {
        width: calc(100% - 320px - 1.5rem);
        &_item {
            background: $colorBackgroundLv2;
            border-radius: 10px;
            &:not(:last-child){
                margin-bottom: 1.5rem;
            }
            &_head {
                font-size: 1rem;
                padding: 0.5rem 1rem 1rem;
                padding-bottom: 0 !important;
                font-family: $fontTitle;
            }
            &_body {
                padding: 0.75rem 1rem 1rem;
            }
        }
    }
    &_right {
        margin-left: 1.5rem;
        width: 320px;
    }
    ul {
        margin-left: 1.25rem;
    }
    @media(max-width: 1199px){
        flex-direction: column;
        &_left {
            width: 100%;
        }
        &_right {
            margin-left: auto;
            margin-top: 1.5rem;
            width: 100%;
        }
    }
    @media(max-width: 1023px){
        &_left {
            &_item {
                &:not(:last-child){
                    margin-bottom: 1.25rem;
                }
                &_head {
                    padding: 0.5rem 0.75rem 0.75rem;
                }
                &_body {
                    padding: 0.5rem 0.75rem 0.75rem;
                }
            }
        }
        &_right {
            margin-top: 1.25rem;
        }
    }
    @media(max-width: 766px){
        &_left {
            &_item {
                &:not(:last-child){
                    margin-bottom: 0.75rem;
                }
            }
        }
        &_right {
            margin-top: 0.75rem;
        }
    }
    @media(max-width: 577px){
        &_left {
            &_item {
                &:not(:last-child){
                    margin-bottom: 0.5rem;
                }
            }
        }
        &_right {
            margin-top: 0.5rem;
        }
    }
}
.cartSectionBox {
    width: 100%;
    background: $colorBackgroundLv2;
    padding: 1rem;
    border-radius: 10px;
    &_title {
        margin-bottom: 1.5rem;
        font-weight: bold;
        font-size: 1.1rem;
    }
    &_body {
        width: 100%;
        @include colorOpacity('background', $colorBackgroundLv2, 0.8);
        border-radius: 10px;
        &_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:not(:first-child){
                margin-top: 0.5rem;
                padding-top: 0.5rem;
                border-top: 1px solid $colorBackgroundLv1;
            }
            &.total {
                font-family: $fontTitle;
                .total_number {
                    color: $colorPrice;
                    font-size: 1.2rem;
                    letter-spacing: 0.5px;
                    margin-left: 0.5rem;
                }
            }
        }
        
    }
    &_notice {
        @include colorOpacity('color', $colorText, 0.8);
        font-size: 1rem;
        @include colorOpacity('background', $colorBackgroundLv1, 0.5);
        padding: 0.25rem 0.5rem;
        font-size: 0.95rem;
        margin-top: 0.75rem;
    }
    &_button {
        margin-top: 1rem;
        .button {
            display: flex;
            justify-content: center;
        }
    }
    .highLight {
        font-size: 1.2rem;
        font-weight: bold;
        color: $colorText;
    }
    @media(max-width: 1023px){
        padding: 0.75rem;
        &_title {
            margin-bottom: 0;
            border: none;
        }
    }
}
.cartProductBox {
    &_head, &_body_item {
        display: flex;
        width: inherit;
        > * {
            padding: 1rem;
            &:nth-child(1){
                width: 100%
            }
            &:nth-child(2){
                flex: 0 0 150px;
                text-align: right;
            }
            &:nth-child(3){
                flex: 0 0 170px;
                display: flex;
                justify-content: center;
            }
            &:nth-child(4){
                flex: 0 0 130px;
                text-align: right;
            }
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
    &_head {
        font-size: 0.95rem;
        font-family: $fontTitle;
        background-color: $colorBackgroundLv2;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        > * {
            padding: 0 1rem 0.75rem 1rem;
        }
    }
    &_body {
        display: flex;
        flex-direction: column;
        &_item {
            display: flex;
            border-top: 1px solid $colorBackgroundLv1;
            margin-top: 0;
            position: relative;
            &:last-child {
                > * {
                    padding-bottom: 0;
                }
            }
            &_info {
                display: flex;
                align-items: stretch;
                &_image {
                    flex: 0 0 65px;
                    aspect-ratio: 1/1;
                    border-radius: 10px;
                    overflow: hidden;
                    display: flex;
                    img {
                        width: 100%;
                        object-fit: cover;
                        aspect-ratio: 1/1;
                        scale: 1.1;
                    }
                }
                &_content {
                    width: 100%;
                    margin-left: 0.75rem;
                    display: flex;
                    flex-direction: column;
                    &_title {
                        line-height: 1.5;
                        color: inherit;
                        margin-top: -0.25rem;
                        margin-bottom: 0.25rem;
                        // opacity: 0.75;
                    }
                    &_option {
                        // font-size: 0.9rem;
                        @include colorOpacity('color', $colorText, 0.75);
                    }
                }
            }
            &_price {
                display: flex;
                flex-direction: column;
                text-align: right;
                &_now {
                    font-family: $fontTitle;
                    font-size: 1rem;
                    letter-spacing: 1px;
                    margin-top: -0.75rem;
                }
                &_old {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    &_percent {
                        margin-right: 0.5rem;
                        background: $colorLabel;
                        padding: 0 0.25rem;
                        font-size: 0.7rem;
                        border-radius: 10px;
                        height: 20px;
                        line-height: 20px;
                        @include colorOpacity('background', $colorPrice, 0.8);
                        color: $colorTitle;
                    }
                    &_number {
                        text-decoration: line-through;
                        font-size: 0.9rem;
                        @include colorOpacity('color', $colorText, 0.6);
                    }
                }
                &_icon {
                    margin-top: auto;
                    img {
                        float: right;
                        width: 22px;
                        cursor: pointer;
                        &:hover {
                            width: 25px;
                        }
                    }
                }
            }
            &_money {
                font-weight: bold;
                color: $colorPrice;
                letter-spacing: 0.5px;
                display: flex;
                flex-direction: column;
                text-align: right;
                > * {
                    width: 100%;
                }
                &_icon {
                    margin-top: auto;
                    img {
                        float: right;
                        width: 22px;
                        cursor: pointer;
                        &:hover {
                            width: 25px;
                        }
                    }
                }
            }
            &.alreadyDownload {
                
                .cartProductBox_body_item_info {
                    &_content {
                        &_title {
                            &:before {
                                @include fontAwesome;
                                color: $colorSuccess;
                                margin-right: 0.5rem;
                                content: "\f00c";
                                font-size: 0.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(max-width: 577px){
        &_head {
            display: none;
        }
        &_body {
            &_item {
                &:first-child {
                    border-top: 0;
                    .cartProductBox_body_item_info {
                        padding-top: 0 !important;
                        padding-bottom: 0.75rem;
                    }
                }
                flex-wrap: wrap;
                &_info {
                    width: 100% !important;
                    padding-right: 0;
                    &_image {
                        flex: 0 0 50px;
                    }
                }
                &_price {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    order: 4;
                    margin-top: -2.25rem;
                    display: flex;
                    padding-left: 0 !important;
                    align-items: flex-start;
                    padding-top: 0;
                    padding-bottom: 0.15rem;
                    flex: 0 0 100% !important;
                    flex-direction: row;
                    justify-content: flex-end;
                    &_now {
                        order: 2;
                        margin-right: 1rem;
                        margin-top: 0;
                    }
                    &_old {
                        flex-direction: row-reverse;
                        order: 1;
                        margin-right: 1rem;
                        > * {
                            margin-left: 0.75rem;
                        }
                    }
                    &_icon {
                        order: 3;
                        margin-top: 0.25rem;
                    }
                }
                &_quantity {
                    align-items: flex-end;
                    order: 3;
                    margin-left: calc(150px + 1rem);
                    margin-top: -2.75rem;
                    margin-bottom: 0.25rem;
                    padding-left: 0;
                    padding-top: 0;
                    flex: 0 0 fit-content !important;
                }
                &_money {
                    padding-right: 0;
                    order: 2;
                }
            }
            .inputQty {
                height: 30px !important;
                max-width: 110px;
                border-radius: 15px;
                .inputQty_button {
                    flex: 0 0 30px;
                    &.minus {
                        border-radius: 15px 0 0 15px;
                    }
                    &.plus {
                        border-radius: 0 15px 15px 0;
                    }
                }
                input {
                    flex: 0 0 45px;
                }
            }
        }
    }
}
.cartMessage {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    align-items: center;
    justify-content: center;
    &_bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(30,41,51,0.45);
    }
    &_box {
        background: $colorBackgroundLv3;
        box-shadow: 1px 1px 5px $colorBackgroundLv1;
        max-width: 480px;
        width: 100%;
        padding: 1rem 1.25rem;
        position: relative;
        border-radius: 10px;
        &_head {
            margin-bottom: 1rem;
            position: relative;
            font-size: 1rem;
            color: $colorText;
            font-family: $fontTitle;
            letter-spacing: 0.5px;
            &:before {
                @include fontAwesome;
                content: '\f00c';
                color: $colorSuccess;
                margin-right: 0.25rem;
                font-size: 1.2rem;
            }
        }
        &_close {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            background: $colorBackgroundLv2;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-right-radius: inherit;
            border-bottom-left-radius: 7px;
            cursor: pointer;
            i {
                font-size: 1rem;
                @include colorOpacity('color', $colorText, 0.5);
            }
            &:hover {
                background: $colorBackgroundLv1;
            }
        }
        &_body {
            display: flex;
            margin-bottom: 1.5rem;
            &_image {
                flex: 0 0 90px;
                aspect-ratio: 1/1;
                border-radius: 10px;
                overflow: hidden;
                display: flex;
                img {
                    width: 100%;
                    object-fit: cover;
                    aspect-ratio: 1/1;
                    scale: 1.1;
                }
            }
            &_content {
                width: 100%;
                margin-left: 1rem;
                &_title {
                    line-height: 1.5;
                    color: inherit;
                    margin-bottom: 0.5rem;
                    margin-top: -0.25rem;
                }
                &_price {
                    color: $colorPrice;
                    font-weight: bold;
                    letter-spacing: 2px;
                    font-size: 0.9rem;
                    > span {
                        font-weight: normal;
                        @include colorOpacity('color', $colorText, 0.6);
                        letter-spacing: 0;
                    }
                }
                &_type {
                    @include colorOpacity('color', $colorText, 0.7);
                    font-size: 0.95rem;
                }
            }
        }
        &_footer {
            > * {
                display: flex;
                justify-content: center;
                background: linear-gradient(45deg, $colorButtonLv1, $colorButtonLv2);
                &:focus {
                    background: linear-gradient(120deg, $colorButtonLv1, $colorButtonLv2);
                }
                &:hover {
                    background: linear-gradient(120deg, $colorButtonLv1, $colorButtonLv2);
                }
            }
        }
    }
    .highLight {
        @include highLight;
    }
    @media(max-width: 1023px){
        &_box {
            top: 0;
            padding: 1rem 1.25rem 1.25rem;
            &_head {
                margin-bottom: 0.75rem;
            }
            &_body {
                margin-bottom: 1.25rem;
            }
        }
    }
    @media(max-width: 766px){
        &_box {
            padding: 0.75rem 1rem 1rem;
            &_head {
                margin-bottom: 0.75rem;
            }
            &_body {
                margin-bottom: 1.25rem;
            }
        }
    }
    @media(max-width: 766px){
        &_box {
            margin: 0 0.75rem;
        }
    }
}
.actionPageConfirm {
    display: flex;
    flex-direction: column;
    &_item {
        width: 100%;
        display: flex;
        align-items: flex-end;
        cursor: pointer;
        &:not(:first-child){
            margin-top: 0.75rem;
            padding-top: 0.5rem;
            border-top: 1px solid $colorBackgroundLv1;
        }
        &_icon {
            flex: 0 0 25px;
            margin-right: 10px;
        }
        &_text {
            width: 100%;
            margin-bottom: -7px;
        }
    }
}