/* Home ===== màn hình đầu tiên */
@import 'childs/default.scss';
@import 'childs/base.scss';
@import 'childs/header-top.scss';
@import 'childs/header-side.scss';
@import 'childs/breadcrumb.scss';
/* Home ===== kém quan trọng (nhưng ít nên đưa vào đây luôn) */
@import 'childs/footer.scss';
@import 'childs/right.scss';
@import 'childs/login.scss';
@import 'childs/modal.scss';

.pageCartBox {
    width: 100%;
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.layoutPageCart {
    display: flex;
    align-items: stretch;
    gap: 1.5rem;
    &_left {
        width: calc(100% - 320px);
        display: flex;
        flex-direction: column;
        &_item {
            background: rgb(var(--colorBackgroundLv2));
            border-radius: $radiusBoxSmall;
            &_head {
                font-size: calc(var(--fontSizeNormal) + 0.075rem);
                padding: 0.5rem 1rem 1rem;
                padding-bottom: 0 !important;
            }
            &_body {
                padding: 0.75rem 1rem 1rem;
                &_note {
                    font-size: calc(var(--fontSizeNormal) - 0.075rem);
                    line-height: var(--lineHeightNormal);
                    margin-top: 0.5rem;
                    display: flex;
                    align-items: stretch;
                    gap: 0.375rem;
                    svg {
                        margin-top: 0.5rem;
                        width: 10px;
                        height: 10px;
                        color: rgb(var(--colorIcon));
                    }
                }
            }
        }
    }
    &_right {
        width: 320px;
    }
    @media(max-width: 1199px){
        flex-direction: column;
        gap: 1.25rem;
        &_left {
            width: 100%;
        }
        &_right {
            width: 100%;
        }
    }
    @media(max-width: 991px){
        gap: 1rem;
    }
    @media(max-width: 767px){
        gap: 0.75rem;
        &_left {
            &_item {
                &_head {
                    padding: 0.375rem 0.75rem 0.75rem;
                }
                &_body {
                    padding: 0.5rem 0.75rem 0.75rem;
                }
            }
        }
    }
    @media(max-width: 577px){
        gap: 0.5rem;
    }
}
.cartSectionBox {
    width: 100%;
    background: rgb(var(--colorBackgroundLv2));
    padding: 0.75rem 1rem 1rem;
    border-radius: $radiusBoxSmall;
    position: sticky;
    top: calc($heightMenu + 1.25rem);
    &_title {
        margin-bottom: 1.5rem;
        font-weight: bold;
        font-size: calc(var(--fontSizeNormal) + 0.175rem);
    }
    &_body {
        width: 100%;
        background: rbga(var(--colorBackgroundLv2), var(--opacityNormal));
        border-radius: $radiusBoxSmall;
        &_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.75rem;
            > * {
                &:not(:first-child){
                    font-family: $fontTitle;
                    font-size: calc(var(--fontSizeNormal) + 0.2rem);
                    font-weight: 600;
                    letter-spacing: 0.5px;
                }
            }
            &:not(:first-child){
                margin-top: 0.5rem;
                padding-top: 0.5rem;
                border-top: 1px solid var(--colorShadow);
            }
            &.total {
                .total_number {
                    color: rgb(var(--colorPrice));
                    font-family: $fontTitle;
                    font-size: calc(var(--fontSizeNormal) + 0.4rem);
                    letter-spacing: 0.5px;
                    font-weight: 700;
                }
            }
        }
        
    }
    &_notice {
        color: rgba(var(--colorText), var(--opacityNormal));
        font-size: calc(var(--fontSizeNormal) + 0.075rem);
        background: rgba(var(--colorBackgroundLv1), 0.5);
        padding: 0.25rem 0.5rem;
        font-size: calc(var(--fontSizeNormal) + 0.025rem);
        margin-top: 0.75rem;
    }
    &_button {
        margin-top: 1rem;
        .button {
            display: flex;
            justify-content: center;
        }
    }
    .highLight {
        font-size: calc(var(--fontSizeNormal) + 0.275rem);
        font-weight: bold;
        color: rgb(var(--colorText));
    }
    @media(max-width: 767px){
        padding: 0.75rem;
        &_title {
            margin-bottom: 0;
            border: none;
        }
    }
}
.cartProductBox {
    &_head, &_body_item {
        display: flex;
        width: inherit;
        > * {
            padding: 1rem;
            &:nth-child(1){
                width: 100%
            }
            &:nth-child(2){
                flex: 0 0 150px;
                text-align: right;
                &:dir(rtl), [dir="rtl"] & {
                    text-align: left;
                }
            }
            &:nth-child(3){
                flex: 0 0 170px;
                display: flex;
                justify-content: center;
            }
            &:nth-child(4){
                flex: 0 0 130px;
                text-align: right;
                &:dir(rtl), [dir="rtl"] & {
                    text-align: left;
                }
            }
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
    &_head {
        font-size: calc(var(--fontSizeNormal) + 0.025rem);
        background-color: rgb(var(--colorBackgroundLv2));
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        > * {
            padding: 0 1rem 0.75rem 1rem;
        }
    }
    &_body {
        display: flex;
        flex-direction: column;
        &_item {
            display: flex;
            border-top: 1px solid var(--colorShadow);
            margin-top: 0;
            position: relative;
            &:last-child {
                > * {
                    padding-bottom: 0;
                }
            }
            &_info {
                display: flex;
                align-items: stretch;
                gap: 0.75rem;
                &_image {
                    flex: 0 0 65px;
                    height: 65px;
                    border-radius: $radiusBoxSmall;
                    overflow: hidden;
                    display: flex;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        scale: 1.1;
                    }
                }
                &_content {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    &_title {
                        color: inherit;
                        margin-top: -0.25rem;
                        margin-bottom: 0.25rem;
                        font-size: calc(var(--fontSizeNormal) - 0.025rem);
                        line-height: calc(var(--lineHeightNormal) - 0.2);
                        font-family: $fontText;
                        font-weight: 600;
                    }
                    &_option {
                        letter-spacing: 0;
                        font-size: calc(var(--fontSizeNormal) - 0.02rem);
                        font-weight: normal;
                        color: rgba(var(--colorText), var(--opacityNormal));
                    }
                }
            }
            &_price {
                display: flex;
                flex-direction: column;
                text-align: right;
                &:dir(rtl), [dir="rtl"] & {
                    text-align: left;
                }
                &_now {
                    margin-top: -0.25rem;
                    font-family: $fontTitle;
                    font-size: calc(var(--fontSizeNormal) + 0.2rem);
                    font-weight: 600;
                    letter-spacing: 0.5px;
                }
                &_old {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    &_percent {
                        margin-right: 0.5rem;
                        background: rgb(var(--colorText));
                        padding: 0 0.25rem;
                        font-size: 0.7rem;
                        border-radius: $radiusBoxSmall;
                        height: 20px;
                        line-height: 20px;
                        background: rgba(var(--colorPrice), var(--opacityNormal));
                        color: rgb(var(--colorTitle));
                    }
                    &_number {
                        text-decoration: line-through;
                        font-size: calc(var(--fontSizeNormal) - 0.025rem);
                        color: rgba(var(--colorText), 0.6);
                    }
                }
                &_icon {
                    margin-top: auto;
                    svg {
                        width: 22px;
                        height: 22px;
                        transition: all 300ms;
                        cursor: pointer;
                        color: rgb(var(--colorIcon));
                        float: right;
                        &:dir(rtl), [dir="rtl"] & {
                            float: left;
                        }
                        &:hover {
                          scale: 1.1;
                        }
                    }
                }
            }
            &_money {
                font-weight: bold;
                color: rgb(var(--colorPrice));
                letter-spacing: 0.5px;
                display: flex;
                flex-direction: column;
                text-align: right;
                &:dir(rtl), [dir="rtl"] & {
                    text-align: left;
                }
                > * {
                    width: 100%;
                }
                &_icon {
                    margin-top: auto;
                    img {
                        float: right;
                        &:dir(rtl), [dir="rtl"] & {
                            float: left;
                        }
                        width: 22px;
                        cursor: pointer;
                        &:hover {
                            width: 25px;
                        }
                    }
                }
            }
            &.alreadyDownload {
                
                .cartProductBox_body_item_info {
                    &_content {
                        &_title {
                            &:before {
                                content: '';
                                margin-right: 0.5rem;
                                background-color: rgb(var(--colorIcon));
                                mask: url('/storage/images/svg/icon_check.svg') no-repeat center;
                                mask-size: contain;
                                -webkit-mask: url('/storage/images/svg/icon_check.svg') no-repeat center;
                                -webkit-mask-size: contain;
                                width: 1.25rem;
                                height: 1.25rem;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(max-width: 767px){
        &_head {
            display: none;
        }
        &_body {
            &_item {
                flex-wrap: wrap;
                > * {
                    padding: 0.75rem;
                }
                &:first-child {
                    border-top: 0;
                    .cartProductBox_body_item_info {
                        padding-top: 0 !important;
                        padding-bottom: 0.75rem;
                    }
                }
                &_info {
                    width: 100% !important;
                    padding-right: 0;
                    &_image {
                        flex: 0 0 50px;
                    }
                }
                &_price {
                    position: absolute;
                    order: 4;
                    margin-top: -2.25rem;
                    display: flex;
                    padding-left: 0 !important;
                    align-items: flex-start;
                    padding-top: 0;
                    padding-bottom: 0.5rem;
                    flex: 0 0 100% !important;
                    flex-direction: row;
                    justify-content: flex-end;
                    bottom: 0;
                    gap: 1rem;
                    right: 0;
                    &:dir(rtl), [dir="rtl"] & {
                        right: unset;
                        left: 0;
                    }
                    &_now {
                        order: 2;
                        margin-top: 0;
                    }
                    &_old {
                        flex-direction: row-reverse;
                        order: 1;
                        margin-right: 1rem;
                        > * {
                            margin-left: 0.75rem;
                        }
                    }
                    &_icon {
                        order: 3;
                        margin-top: 0;
                    }
                }
                &_quantity {
                    align-items: flex-end;
                    order: 3;
                    margin-left: calc(150px + 1rem);
                    margin-top: -2.75rem;
                    margin-bottom: 0.25rem;
                    padding-left: 0;
                    padding-top: 0;
                    flex: 0 0 fit-content !important;
                }
                &_money {
                    padding-right: 0;
                    order: 2;
                }
            }
            .inputQty {
                height: 30px !important;
                max-width: 110px;
                border-radius: $radiusBoxSmall;
                .inputQty_button {
                    flex: 0 0 30px;
                    &.minus {
                        border-radius: $radiusBoxSmall 0 0 $radiusBoxSmall;
                    }
                    &.plus {
                        border-radius: 0 $radiusBoxSmall $radiusBoxSmall 0;
                    }
                }
                input {
                    flex: 0 0 45px;
                }
            }
        }
    }
}