.pageCartBox {
    display: flex;
    align-items: stretch;
    &_left {
        width: calc(100% - 320px - 2rem);
        &_item {
            background: $colorBackgroundLv2;
            border-radius: 10px;
            &:not(:last-child){
                margin-bottom: 1.5rem;
            }
            &_head {
                font-size: 1rem;
                padding: 0.5rem 1rem;
                padding-bottom: 0;
                font-family: $fontTitle;
            }
            &_body {
                padding: 1rem;
            }
        }
    }
    &_right {
        margin-left: 2rem;
        width: 320px;
    }
    ul {
        margin-left: 1.25rem;
    }
    @media(max-width: 1199px){
        flex-direction: column;
        &_left {
            width: 100%;
        }
        &_right {
            margin-left: auto;
            margin-top: 1.5rem;
            width: 100%;
        }
    }
    @media(max-width: 1024px){
        &_left {
            &_item {
                &:not(:last-child){
                    margin-bottom: 1.25rem;
                }
            }
        }
        &_right {
            margin-top: 1.25rem;
        }
    }
    @media(max-width: 766px){
        &_left {
            &_item {
                &:not(:last-child){
                    margin-bottom: 1rem;
                }
            }
        }
        &_right {
            margin-top: 1rem;
        }
    }
}
.cartSectionBox {
    width: 100%;
    // font-size: 1rem;
    background: $colorBackgroundLv2;
    padding: 1rem;
    border-radius: 10px;
    &_title {
        margin-bottom: 1.5rem;
        font-weight: bold;
        font-size: 1.1rem;
    }
    &_body {
        width: 100%;
        // background: $colorBackgroundLv2;
        @include colorOpacity('background', $colorBackgroundLv2, 0.8);
        border-radius: 10px;
        .total {
            font-family: $fontTitle;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &_number {
                color: $colorPrice;
                font-size: 1.2rem;
                letter-spacing: 0.5px;
                margin-left: 0.5rem;
            }
        }
    }
    &_notice {
        @include colorOpacity('color', $colorText, 0.8);
        font-size: 1rem;
        @include colorOpacity('background', $colorBackgroundLv1, 0.5);
        padding: 0.25rem 0.5rem;
        font-size: 0.95rem;
        margin-top: 0.75rem;
    }
    &_button {
        margin-top: 1rem;
        .button {
            display: flex;
            justify-content: center;
        }
    }
    .highLight {
        font-size: 1.2rem;
        font-weight: bold;
        color: $colorText;
    }
    @media(max-width: 990px){
        &_title {
            margin-bottom: 0;
            border: none;
        }
    }
}
.cartProductBox {
    &_head, &_body_item {
        display: flex;
        width: inherit;
        > * {
            padding: 1rem;
            &:nth-child(1){
                width: 100%
            }
            &:nth-child(2){
                flex: 0 0 150px;
                text-align: right;
            }
            &:nth-child(3){
                flex: 0 0 170px;
                display: flex;
                justify-content: center;
            }
            &:nth-child(4){
                flex: 0 0 130px;
                text-align: right;
            }
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
    &_head {
        font-size: 0.95rem;
        font-family: $fontTitle;
        background-color: $colorBackgroundLv2;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        > * {
            padding: 0 1rem 0.75rem 1rem;
        }
    }
    &_body {
        display: flex;
        flex-direction: column;
        &_item {
            display: flex;
            border-top: 1px solid $colorBackgroundLv1;
            margin-top: 0;
            position: relative;
            &:last-child {
                > * {
                    padding-bottom: 0;
                }
            }
            &_info {
                display: flex;
                align-items: stretch;
                &_image {
                    flex: 0 0 50px;
                    img {
                        width: 100%;
                    }
                }
                &_content {
                    width: 100%;
                    margin-left: 1rem;
                    display: flex;
                    flex-direction: column;
                    &_title {
                        font-size: 1rem;
                        line-height: 1.4;
                        font-weight: bold;
                        margin-bottom: 0.5rem;
                        color: $colorText;
                        font-family: $fontTitle;
                    }
                    &_option {
                        font-size: 0.9rem;
                        @include colorOpacity('color', $colorText, 0.7);
                    }
                }
            }
            &_price {
                display: flex;
                flex-direction: column;
                text-align: right;
                &_now {
                    font-family: $fontTitle;
                }
                &_old {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    &_percent {
                        margin-right: 0.5rem;
                        background: $colorLabel;
                        padding: 0 0.25rem;
                        font-size: 0.7rem;
                        border-radius: 5px;
                        height: 20px;
                        line-height: 20px;
                        @include colorOpacity('background', $colorPrice, 0.8);
                        color: $colorTitle;
                    }
                    &_number {
                        text-decoration: line-through;
                        font-size: 0.9rem;
                        @include colorOpacity('color', $colorText, 0.6);
                    }
                }
                &_icon {
                    margin-top: auto;
                    img {
                        float: right;
                        width: 22px;
                        cursor: pointer;
                        &:hover {
                            width: 25px;
                        }
                    }
                }
            }
            &_money {
                font-weight: bold;
                color: $colorPrice;
                letter-spacing: 0.5px;
                display: flex;
                flex-direction: column;
                text-align: right;
                > * {
                    width: 100%;
                }
                &_icon {
                    margin-top: auto;
                    img {
                        float: right;
                        width: 22px;
                        cursor: pointer;
                        &:hover {
                            width: 25px;
                        }
                    }
                }
            }
        }
    }
    @media(max-width: 577px){
        &_head {
            display: none;
        }
        &_body {
            &_item {
                flex-wrap: wrap;
                &_info {
                    width: 100% !important;
                    &_image {
                        flex: 0 0 50px;
                    }
                }
                &_price {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    order: 4;
                    margin-top: -2.25rem;
                    display: flex;
                    padding-left: 0 !important;
                    align-items: flex-start;
                    padding-top: 0;
                    padding-bottom: 0.15rem;
                    flex: 0 0 100% !important;
                    flex-direction: row;
                    justify-content: flex-end;
                    &_now {
                        order: 2;
                        margin-right: 1rem;
                    }
                    &_old {
                        flex-direction: row-reverse;
                        order: 1;
                        margin-right: 1rem;
                        > * {
                            margin-left: 0.75rem;
                        }
                    }
                    &_icon {
                        order: 3;
                        margin-top: 0.25rem;
                    }
                }
                &_quantity {
                    align-items: flex-end;
                    order: 3;
                    margin-left: calc(150px + 1rem);
                    margin-top: -2.75rem;
                    margin-bottom: 0.25rem;
                    padding-left: 0;
                    padding-top: 0;
                    flex: 0 0 fit-content !important;
                }
                &_money {
                    padding-right: 0;
                    order: 2;
                }
            }
            .inputQty {
                height: 30px !important;
                max-width: 110px;
                border-radius: 15px;
                .inputQty_button {
                    flex: 0 0 30px;
                    &.minus {
                        border-radius: 15px 0 0 15px;
                    }
                    &.plus {
                        border-radius: 0 15px 15px 0;
                    }
                }
                input {
                    flex: 0 0 45px;
                }
            }
        }
    }
    // @media(max-width: 766px){
    //     &_body {
    //         &_item {
    //             &_price {
    //                 &_old {
    //                     display: none;
    //                 }
    //             }
    //         }
    //     }
    // }
    // @media(max-width: 577px){
    //     &_body {
    //         &_item {
    //             &_info {
    //                 width: 100% !important;
    //                 &_content {
    //                     &_title {
    //                         margin-bottom: 0.25rem; 
    //                     }
    //                 }
    //                 &_image {
    //                     flex: 0 0 120px;
    //                 }
    //             }
    //             &_quantity {
    //                 order: 3;
    //                 margin-left: calc(120px + 1rem);
    //                 flex: unset !important;
    //                 width: 100% !important;
    //                 justify-content: flex-start !important;
    //             }
    //             &_money {
    //                 text-align: right;
    //                 flex-direction: row;
    //                 flex: unset !important;
    //                 width: calc(100% - 130px);
    //                 order: 6;
    //                 padding-left: 0;
    //             }
    //         }
    //     }
    // }
}
.cartMessage {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    align-items: center;
    justify-content: center;
    &_bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(30,41,51,0.45);
    }
    &_box {
        background: $colorBackgroundLv3;
        box-shadow: 1px 1px 5px $colorBackgroundLv1;
        max-width: 420px;
        width: 100%;
        padding: 1rem 1.5rem 1.5rem;
        position: relative;
        border-radius: 10px;
        &_head {
            margin-bottom: 1.5rem;
            position: relative;
        }
        &_close {
            position: absolute;
            top: 0;
            right: 0;
            width: 45px;
            background: $colorBackgroundLv2;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-right-radius: inherit;
            border-bottom-left-radius: inherit;
            cursor: pointer;
            i {
                font-size: 1.2rem;
            }
            &:hover {
                background: $colorBackgroundLv1;
            }
        }
        &_body {
            display: flex;
            margin-bottom: 1.5rem;
            &_image {
                flex: 0 0 100px;
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
            &_content {
                width: 100%;
                margin-left: 1.25rem;
                &_title {
                    font-family: $fontTitle;
                    font-size: 1.05rem;
                    color: $colorText;
                    margin-bottom: 1.5rem;
                }
                &_price {
                    color: $colorPrice;
                    font-size: 1.2rem;
                    font-weight: bold;
                    letter-spacing: 2px;
                    margin-bottom: 0.75rem;
                }
                &_type {
                    @include colorOpacity('color', $colorText, 0.7);
                }
            }
        }
        &_footer {
            > * {
                display: flex;
                justify-content: center;
                background: linear-gradient(45deg, $colorButtonLv1, $colorButtonLv2);
                &:focus {
                    background: linear-gradient(120deg, $colorButtonLv1, $colorButtonLv2);
                }
                &:hover {
                    background: linear-gradient(120deg, $colorButtonLv1, $colorButtonLv2);
                }
            }
        }
    }
    .highLight {
        @include highLight;
    }
    @media(max-width: 577px){
        &_box {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            top: 0;
            left: 50%;
            right: unset;
            transform: translateX(-50%);
        }
    }
}