/* ===== không sửa trực tiếp ở đây do dùng replace */
$colorLv1       : #144272;
$colorLv2       : #205295;
/* ===== */
$colorSLv1      : #00bd7d;
$colorSLv2      : #004f3f;
/* ===== */
$colorButtonLv1 : #00bd7d;
$colorButtonLv2 : #004f3f;
/* ===== */
$colorTextLight : #f7ff93;
$colorTitle     : #ffffffCC;
/* ===== */
$colorText      : #c0d0f1;
/* ===== */
$colorLabel     : #ad8e70;
/* ===== */
$colorPrice     : #e7ad00;
$colorStar      : #e7ad00;
$colorSuccess   : #00bd7d;
$colorRed       : #ffadaf;

$colorBackgroundLv1: #1a202c;
$colorBackgroundLv2: #2d3848;
$colorBackgroundLv3: #3a4556;