/* ===== không sửa trực tiếp ở đây do dùng replace */
$colorLv1       : #00bd7d;
$colorLv2       : #006d57;

/* ===== */
$colorSLv1      : #ffd100;
$colorSLv2      : #ebc000;
/* ===== */
// $colorButtonLv1 : #00bd7d;
// $colorButtonLv2 : #004f3f;
$colorButtonLv1 : #00bd7d;
$colorButtonLv2 : #006d57;
/* ===== */
$colorTextLight : #ffd100;
$colorTitle     : #ffffffCC;
/* ===== */
$colorText      : #c0d0f1;
$colorIcon      : #5a7dc2;
/* ===== */
$colorLabel     : #ad8e70;
/* ===== */
$colorPrice     : #ffd100;
$colorStar      : #ffd100;
$colorSuccess   : #00bd7d;
$colorRed       : #ffadaf;

$colorBackgroundLv1: #1a202c;
$colorBackgroundLv2: #2d3848;
$colorBackgroundLv3: #3a4556;