.messageOrderSuccess {
    display: flex;
    align-items: center;
    &_image {
        flex: 0 0 80px;
        img {
            width: 100%;
        }
    }
    &_text {
        width: 100%;
        font-weight: bold;
        margin-left: 1rem;
    }
}

.confirmSectionBox {
    &:not(:first-child){
        margin-top: 1.5rem;
    }
    &:last-child{
        margin-bottom: 2rem;
    }
    &_title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: $colorLv1;
    }
    &_body {
        line-height: 1.8;
        &_item {
            display: flex;
            > * {
                &:first-child{
                    flex: 0 0 110px;
                }
                &:nth-child(2){
                    margin-left: 1rem;
                }
            }
        }
    }
}

.buttonBoxPageConfirm {
    border: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: $bg-02;
    padding: 0.75rem 1rem;
    border-top: 1px solid $bg-05;
    &_box {
        display: flex;
        justify-content: space-between;
        max-width: 660px;
        width: 100%;
        margin: 0 auto;
        a {
            font-weight: 600;
            @include colorOpacity('color', $colorText, 0.7);
            &:hover {
                color: $colorButtonLv1;
            }
            i {
                margin-right: 0.5rem;
            }
        }
    }
}

.wallpaperSourceGrid {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    &_item {
        width: calc(20% - 0.8rem);
        aspect-ratio: 1/2;
        position: relative;
        cursor: pointer;
        transition: all 0.2s;
        background: $colorBackgroundLv2;
        border-radius: 10px;
        border: 2px solid $colorBackgroundLv1;
        overflow: hidden;
        &.alreadyDownload {
            box-shadow: 10px 10px 30px -25px $colorSuccess;
            border: 2px solid #00bd7d99;
            
        }
        &:not(:nth-child(5n + 1)){
            margin-left: 1rem;
        }
        &:nth-child(5n + 1){
            margin-left: 0;
        }
        &:nth-child(n + 6){
            margin-top: 1rem;
        }
        &:not(:nth-child(n + 6)){
            margin-top: 0;
        }
        > * {
            transition: all 0.2s;
        }
        &_image {
            width: 100%;
            height: 100%;
            border-radius: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            object {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &_action {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: 3d(-50% -50% 0);
            width: 30px;
            aspect-ratio: 1/1;
            transform: translate3d(-50%, -50%, 0);
            z-index: 1;
        }
        &_background {
            border-radius: 10px;
            display: none;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            position: absolute;
            top: 2px;
            left: 2px;
            background: rgba(0,0,0,0.8);
        }
        &:hover {
            .wallpaperSourceGrid_item_action {
                display: flex;    
            }
            .wallpaperSourceGrid_item_background {
                display: flex;
            }
        }
    }
    @media(max-width: 1499px){
        &_item {
            width: calc(25% - 0.75rem);
            &:not(:nth-child(4n + 1)){
                margin-left: 1rem;
            }
            &:nth-child(4n + 1){
                margin-left: 0;
            }
            &:nth-child(n + 5){
                margin-top: 1rem;
            }
            &:not(:nth-child(n + 5)){
                margin-top: 0;
            }
        }
    }
    @media(max-width: 1199px){
        &_item {
            width: calc(33.33% - 0.6666rem);
            &:not(:nth-child(3n + 1)){
                margin-left: 1rem;
            }
            &:nth-child(3n + 1){
                margin-left: 0;
            }
            &:nth-child(n + 4){
                margin-top: 1rem;
            }
            &:not(:nth-child(n + 4)){
                margin-top: 0;
            }
        }
    }
    @media(max-width: 1023px){
        &_item {
            width: calc(25% - 0.75rem);
            &:not(:nth-child(4n + 1)){
                margin-left: 1rem;
            }
            &:nth-child(4n + 1){
                margin-left: 0;
            }
            &:nth-child(n + 5){
                margin-top: 1rem;
            }
            &:not(:nth-child(n + 5)){
                margin-top: 0;
            }
        }
    }
    @media(max-width: 766px){
        &_item {
            width: calc(33.33% - 0.6666rem);
            &:not(:nth-child(3n + 1)){
                margin-left: 1rem;
            }
            &:nth-child(3n + 1){
                margin-left: 0;
            }
            &:nth-child(n + 4){
                margin-top: 1rem;
            }
            &:not(:nth-child(n + 4)){
                margin-top: 0;
            }
        }
    }
    @media(max-width: 577px){
        &_item {
            width: calc(50% - 0.25rem);
            &:not(:nth-child(2n + 1)){
                margin-left: 0.5rem !important;
            }
            &:nth-child(2n + 1){
                margin-left: 0 !important;
            }
            &:nth-child(n + 3){
                margin-top: 0.5rem;
            }
        }
    }
}
.confirmMessageBox {
    display: flex;
    background: $colorBackgroundLv2;
    border-radius: 10px;
    margin-bottom: 1rem;
    &_left {
        padding: 1rem 1.5rem;
        flex: 0 0 320px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        > * {
            &:not(:first-child){
                margin-top: 1rem;
            }
        }
        &_icon {
            display: flex;
            justify-content: center;
            img {
                width: 60px;
            }
        }
        &_title {
            font-size: 1.2rem;
            font-family: $fontTitle;
        }
        &_desc {
            @include colorOpacity('color', $colorText, 0.6);
        }
    }
    &_right {
        padding: 1rem 1.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-left: 1px solid $colorBackgroundLv1;
        &_item {
            &:not(:first-child){
                margin-top: 0.5rem;
                padding-top: 0.25rem;
                border-top: 1px dashed $colorBackgroundLv1;
                
            }
            > * {
                &:not(:first-child){
                    margin-top: 0.25rem;
                }
            }
            ul {
                margin-bottom: 0;
                li {
                    
                }
            }
        }
    }
    .highLight {
        margin: 0 0.5rem;
        font-family: $fontTitle;
        color: $colorLv1;
        font-size: 1.2rem;
        letter-spacing: 0.5px;
    }
    .price {
        padding: 0 0.5rem;
        font-size: 1.1rem;
        letter-spacing: 0.5px;
        color: $colorPrice;
        font-family: $fontTitle;
    }
    @media(max-width: 1199px){
        &_left {
            padding: 0.75rem 1.25rem;
            &_title {
                font-size: 1.15rem;
            }
        }
        &_right {
            padding: 0.75rem 1.25rem;
        }
    }
    @media(max-width: 766px){
        flex-wrap: wrap;
        margin-bottom: 0.75rem;
        &_left {
            // padding: 0.5rem 1rem;
            flex: unset;
            width: 100%;
            > * {
                &:not(:first-child){
                    margin-top: 0.75rem;
                }
            }
            &_icon {
                img {
                    width: 50px;
                }
            }
            &_title {
                font-size: 1.1rem;
            }
        }
        &_right {
            width: 100%;
            border-top: 1px solid $colorBackgroundLv1;
            // padding: 0.5rem 1rem;
        }
    }
    @media(max-width: 577px){
        margin-bottom: 0.5rem;
        &_left {
            padding: 0.5rem 1rem;
            > * {
                &:not(:first-child){
                    margin-top: 0.5rem;
                }
            }
            &_title {
                font-size: 1.05rem;
            }
            &_icon {
                img {
                    width: 40px;
                }
            }
        }
        &_right {
            padding: 0.5rem 1rem;
        }
    }
}