/* Home ===== màn hình đầu tiên */
@import 'childs/default.scss';
@import 'childs/base.scss';
@import 'childs/header-top.scss';
@import 'childs/header-side.scss';
@import 'childs/breadcrumb.scss';
/* Home ===== kém quan trọng (nhưng ít nên đưa vào đây luôn) */
@import 'childs/freewallpaper.scss';
@import 'childs/relatedBox.scss';
@import 'childs/footer.scss';
@import 'childs/right.scss';
@import 'childs/login.scss';
@import 'childs/modal.scss';

.pagefreeWallpaper {
    width: 100%;
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.freeWallpaperDetailBox {
    display: flex;
    align-items: stretch;
    width: fit-content;
    width: 100%;
    gap: 1.5rem;
    &_image {
        position: relative;
        border-radius: $radiusBoxNormal;
        img {
            height: calc(100vh - $heightMenu - 3rem);
            width: auto;
            position: sticky;
            top: calc($heightMenu + 1.25rem);
            display: flex;
            border-radius: inherit;
            @media(max-width: 577px){
                width: 100%;
                height: auto;
            }
        }
    }
    &_content {
        text-align: justify;
        &_action {
            display: flex;
            align-items: center;
            font-size: calc(var(--fontSizeNormal) - 0.075rem);
            text-align: left;
            &:dir(rtl), [dir="rtl"] & {
                text-align: right;
            }
            &_item {
                padding: 0.5rem;
                width: 100%;
                background: rgba(var(--colorBackgroundLv2), var(--opacityNormal));
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: $radiusBoxNormal;
                box-shadow: 0 0 10px var(--colorShadow);
                cursor: pointer;
                color: rgb(var(--colorText));
                &:hover {
                    background: rgb(var(--colorBackgroundLv2));
                }
                &:not(:first-child){
                    margin-left: 0.75rem;
                }
                &.heart {
                    &.selected {
                        background: rgb(var(--colorBackgroundLv1));
                        > span {
                            &:before {
                                content: 'Đã ';
                            }
                        }
                    }
                }
                
                i {
                    margin-right: 0.5rem;
                }
                .fa-heart {
                    color: red;
                }
                .fa-download {
                    color: rgb(var(--colorLv1));
                }
                .fa-share-nodes {
                    color: #007bff;
                }
            }
        }
    }
    @media(max-width: 1199px){
        gap: 1.25rem;
    }
    @media(max-width: 991px){
        gap: 1rem;
    }
    @media(max-width: 767px){
        gap: 0.75rem;
    }
    @media(max-width: 577px){
        flex-wrap: wrap;
        width: 100%;
        gap: 0.5rem;
        &_image {
            margin: 0.5rem auto 0 auto;
        }
        &_content {
            width: 100%;
            max-width: 100%;
            &_action {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                margin: 0;
                background: rgb(var(--colorBackgroundLv2));
                border: none !important;
                padding: 0;
                height: 52.5px;
                z-index: 100;
                &_item {
                    box-shadow: none;
                    border-radius: 0 !important;
                    margin: 0 !important;
                    &:not(:first-child){
                        border-left: 1px solid rgb(var(--colorBackgroundLv3));
                    }
                }
            }
        }
    }
    @media(max-width: 767px){
        &_image {
            margin: 0.25rem auto 0 auto;
        }
    }
}