/* Home ===== màn hình đầu tiên */
@import 'childs/default.scss';
@import 'childs/base.scss';
@import 'childs/header-top.scss';
@import 'childs/header-side.scss';
@import 'childs/breadcrumb.scss';
/* Home ===== kém quan trọng (nhưng ít nên đưa vào đây luôn) */
@import 'childs/footer.scss';
@import 'childs/right.scss';
@import 'childs/login.scss';
@import 'childs/modal.scss';

.categoryGrid {
    margin-top: 1.25rem;
    &_title {
        margin-bottom: 1rem;
        h2, h3, a {
            @include titleDefault;
            margin-bottom: 0 !important;
            color: rgb(var(--colorText));
        }
    }
    &_box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1.25rem;
        &_item {
            position: relative;
            box-shadow: 0 0 7px var(--colorShadow);
            border-radius: $radiusBoxLarge;
            overflow: hidden;
            aspect-ratio: 9/16;
            background: rgb(var(--colorBackgroundLv2));
            &_image {
                display: flex;
                flex-direction: row;
                position: relative;
                width: 100%;
                height: 100%;
                img {
                    object-fit: cover;
                    transition: all 1s ease-in-out;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    &.active {
                        z-index: 2;
                    }
                    
                }
            }
            &_content {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: fit-content;
                transform: translateZ(1px);
                z-index: 4;
                padding: 0.75rem 1rem;
                font-size: calc(var(--fontSizeNormal) - 0.075rem);
                background: rgba(var(--colorBackgroundLv1), 0.85);
                transition: all 0.1s;
                &.zoom {
                    position: fixed;
                    top: 0;
                    bottom: unset;
                    height: 100vh;
                    z-index: 9999;
                    background: rgb(var(--colorBackgroundLv2));
                    line-height: 2;
                    padding: 0.75rem;
                    transition: all 0.2s;
                    .categoryGrid_box_item_content_title_action {
                        &::after {
                            content: '';
                            background: rgb(var(--colorText), 0.75);
                            mask: var(--icon_close) no-repeat center;
                            mask-size: contain;
                            -webkit-mask: var(--icon_close) no-repeat center;
                            -webkit-mask-size: contain;
                            width: 18px;
                            height: 18px;
                            margin: 0;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate3d(-50%, -50%, 0);
                        }
                    }
                    .categoryGrid_box_item_content_list {
                        display: flex;
                        margin-top: 0.5rem;
                        max-height: unset;
                        font-size: calc(var(--fontSizeNormal) - 0.075rem);
                        
                    }
                }
                &_title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    a {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                    }
                    h2, h3 {
                        color: rgb(var(--colorLv1));
                        margin-bottom: 0;
                        text-transform: none;
                        width: inherit;
                        font-weight: 600;
                        font-size: calc(var(--fontSizeNormal) + 0.2rem);
                        .light & {
                          font-weight: 700;
                          font-size: calc(var(--fontSizeNormal) + 0.25rem);
                        }
                        &:hover {
                            color: rgb(var(--colorText));
                        }
                    }
                    &_action {
                        display: none;
                        width: 32px;
                        height: auto;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        &:after {
                            content: '';
                            margin-left: 0.5rem;
                            background-color: rgb(var(--colorIcon));
                            mask: var(--icon_three_dots) no-repeat center;
                            mask-size: contain;
                            -webkit-mask: var(--icon_three_dots) no-repeat center;
                            -webkit-mask-size: contain;
                            width: 20px;
                            height: 20px;
                            &:dir(rtl), [dir="rtl"] & {
                                margin-left: unset;
                                margin-right: 0.5rem;
                            }
                        }
                    }
                }
                &_list {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 0.35rem;
                    max-height: 150px;
                    overflow: hidden;
                    gap: 0.15rem 0.75rem;
                    transition: max-height 0.5s ease; // Slow transition by default
                    line-height: 2;
                    &:hover {
                        max-height: 500px; // Set a large enough max-height for the content
                        transition: max-height 0.5s ease; // Slow transition on hover
                    }
                    &:not(:hover) {
                        transition: max-height 0.25s ease; // Fast transition when hover is removed
                    }
                    > * {
                        color: rgb(var(--colorTitle));
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: calc(var(--fontSizeNormal) - 0.075rem);
                        letter-spacing: 0.75px;
                        font-weight: 600;
                        &:not(:first-child){
                            &:before {
                                content: '';
                                background-color: rgba(var(--colorText), 0.5);
                                mask: var(--icon_circle_dot) no-repeat center;
                                mask-size: contain;
                                -webkit-mask: var(--icon_circle_dot) no-repeat center;
                                -webkit-mask-size: contain;
                                width: 8px;
                                height: 8px;
                                margin-right: 0.75rem;
                                &:dir(rtl), [dir="rtl"] & {
                                    margin-right: unset;
                                    margin-left: 0.75rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media(max-width: 1199px){
        margin-top: 1.125rem;
        &_title {
            margin-bottom: 0.825rem;
        }
        &_box {
            &_item {
                &_content {
                    &_title {
                        h2, h3 {
                            font-size: calc(var(--fontSizeNormal) + 0.175rem);
                            .light & {
                                font-size: calc(var(--fontSizeNormal) + 0.2rem);
                            }
                        }
                    }
                }
            }
        }
    }
    @media(max-width: 991px){
        margin-top: 1rem;
        &_title {
            margin-bottom: 0.75rem;
        }
        &_box {
            gap: 1rem;
            &_item {
                &_content {
                    &_title {
                        h2, h3 {
                            font-size: calc(var(--fontSizeNormal) + 0.15rem);
                            .light & {
                                font-size: calc(var(--fontSizeNormal) + 0.175rem);
                            }
                        }
                        &_action {
                            display: flex;
                        }
                    }
                    &_list {
                        display: none;
                    }
                }
            }
        }
    }
    @media(max-width: 767px){
        margin-top: 0.825rem;
        &_title {
            margin-bottom: 0.625rem;
        }
        &_box {
            gap: 0.75rem;
            grid-template-columns: auto auto;
            &_item {
                border-radius: $radiusBoxNormal;
                &_content {
                    padding: 0.5rem 0.75rem;
                    &_title {
                        h2, h3 {
                            font-size: calc(var(--fontSizeNormal) + 0.125rem);
                            .light & {
                                font-size: calc(var(--fontSizeNormal) + 0.125rem);
                            }
                        }
                    }
                    &_list {
                        margin-top: 0.25rem;
                    }
                }
            }
        }
    }

    @media(max-width: 577px){
        &_title {
            margin-bottom: 0.5rem;
        }
        &_box {
            &_item {
                &_content {
                    &_title {
                        h2, h3 {
                            font-size: calc(var(--fontSizeNormal) + 0.1rem);
                            .light & {
                                font-size: calc(var(--fontSizeNormal) + 0.1rem);
                            }
                        }
                    }
                }
            }
        }
    }
}