/* Home ===== màn hình đầu tiên */
@import 'childs/default.scss';
@import 'childs/base.scss';
@import 'childs/header-top.scss';
@import 'childs/header-side.scss';
@import 'childs/breadcrumb.scss';
/* Home ===== kém quan trọng (nhưng ít nên đưa vào đây luôn) */
@import 'childs/footer.scss';
@import 'childs/right.scss';
@import 'childs/login.scss';
@import 'childs/modal.scss';

.categoryGrid {
    margin-top: 1.25rem;
    &_title {
        margin-bottom: 1.25rem;
        h2, h3, a {
            font-size: 1.2rem;
            font-family: $fontTitle;
            margin-bottom: 0 !important;
            color: $colorText;
        }
        @media(max-width: 991px){
            margin-bottom: 1rem;
            h2, h3 {
                font-size: 1.15rem;
            }
        }
        @media(max-width: 767px){
            margin-bottom: 0.75rem;
            h2, h3 {
                font-size: 1.1rem;
            }
        }
    }
    &_box {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 1.25rem;
        &_item {
            position: relative;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
            border-radius: $radiusBoxLarge;
            overflow: hidden;
            aspect-ratio: 9/16;
            background: $colorBackgroundLv2;
            &_image {
                display: flex;
                flex-direction: row;
                position: relative;
                width: 100%;
                height: 100%;
                img {
                    // opacity: 0;
                    object-fit: cover;
                    transition: all 1s ease-in-out;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    &.active {
                        // opacity: 0;
                        z-index: 2;
                    }
                    
                }
            }
            &_content {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: fit-content;
                transform: translateZ(1px);
                z-index: 4;
                padding: 0.5rem 1rem 0.75rem 1rem;
                font-size: 0.85rem;
                background-image: linear-gradient(360deg, rgba(45, 56, 72, 0.9) 33.33%, rgba(45, 56, 72, 0.95) 66.66%, rgba(45, 56, 72, 0.5) 100%);
                transition: all 0.1s;
                &.zoom {
                    position: fixed;
                    top: 0;
                    bottom: unset;
                    height: 100vh;
                    z-index: 9999;
                    background: $colorBackgroundLv2;
                    line-height: 2;
                    padding: 0.75rem;
                    transition: all 0.2s;
                    .categoryGrid_box_item_content_title_action {
                        &::after {
                            content: '\f00d';
                            @include iconCloseSquare;
                        }
                    }
                    .categoryGrid_box_item_content_list {
                        display: flex;
                        margin-top: 0.5rem;
                        max-height: unset;
                        font-size: 0.85rem;
                        
                    }
                }
                &_title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    a {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                    }
                    h2, h3 {
                        font-size: 0.95rem;
                        font-family: $fontTitle;
                        color: $colorLv1;
                        margin-bottom: 0;
                        text-transform: none;
                        width: inherit;
                        letter-spacing: 1px;
                        text-shadow: 0 0 $colorTextLight;
                        &:hover {
                            color: $colorLv2;
                        }
                    }
                    &_action {
                        display: none;
                        &:after {
                            content: '\f192\f192\f192';
                            @include fontAwesome;
                            @include colorOpacity('color', $colorText, 0.5);
                            text-shadow: 0 0 rgba(192, 208, 241, 0.5);
                            opacity: 0.75;    
                            font-size: 0.25rem;
                            letter-spacing: 4px;
                            width: 35px;
                            text-align: right;
                            margin-left: 0.5rem;
                            &:dir(rtl), [dir="rtl"] & {
                                text-align: left;
                                margin-left: unset;
                                margin-right: 0.5rem;
                            }
                        }
                    }
                }
                &_list {
                    display: flex;
                    flex-wrap: wrap;
                    font-size: 0.85rem;
                    margin-top: 0.35rem;
                    letter-spacing: 0.75px;
                    max-height: 150px;
                    overflow: hidden;
                    gap: 0.15rem 0.75rem;
                    transition: max-height 0.5s ease; // Slow transition by default
                    &:hover {
                        max-height: 500px; // Set a large enough max-height for the content
                        transition: max-height 0.5s ease; // Slow transition on hover
                    }
                    &:not(:hover) {
                        transition: max-height 0.25s ease; // Fast transition when hover is removed
                    }
                    > * {
                        color: $colorText;
                        &:not(:first-child){
                            &:before {
                                content: '\f192';
                                @include fontAwesome;
                                font-size: 0.35rem;
                                vertical-align: middle;
                                margin-right: 0.75rem;
                                &:dir(rtl), [dir="rtl"] & {
                                    margin-right: unset;
                                    margin-left: 0.75rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        @media(max-width: 1199px){
            grid-template-columns: auto auto auto;
        }
        @media(max-width: 991px){
            gap: 1rem;
            &_item {
                &_content {
                    &_title {
                        &_action {
                            display: flex;
                        }
                    }
                    &_list {
                        display: none;
                    }
                }
            }
        }
        @media(max-width: 767px){
            grid-template-columns: auto auto;
            gap: 0.75rem;
            &_item {
                border-radius: $radiusBoxNormal;
                &_content {
                    padding: 0.5rem 0.75rem;
                    &_title {
                        h2, h3 {
                            font-size: 0.9rem;
                        }
                    }
                    &_list {
                        margin-top: 0.25rem;
                    }
                }
            }
        }
    }
    @media(max-width: 1199px){
        margin-top: 1rem;
    }
    @media(max-width: 767px){
        margin-top: 0.825rem;
    }
}