/* Home ===== màn hình đầu tiên */
@import 'childs/default.scss';
@import 'childs/base.scss';
@import 'childs/header-top.scss';
@import 'childs/header-side.scss';
@import 'childs/breadcrumb.scss';
@import 'childs/wallpaper.scss';
/* Home ===== kém quan trọng (nhưng ít nên đưa vào đây luôn) */
@import 'childs/questionAnswer.scss';
@import 'childs/relatedBox.scss';
@import 'childs/footer.scss';
@import 'childs/right.scss';
@import 'childs/login.scss';
@import 'childs/modal.scss';

.pageProductDetailBox {
    display: flex;
    align-items: stretch;
    gap: 1.5rem; /* gap lấy theo .distanceBetweenBox */
    z-index: 2; /* để nằm trên headerBottom */
    margin-top: 0.125rem;
    &_left {
        flex: 0 0 47%;
        display: flex;
        flex-direction: column;
    }
    &_right {
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }
    @media(max-width: 1799px){
        &_left {
            flex: 0 0 52%;
        }
    }
    @media(max-width: 1499px){
        &_left {
            flex: 0 0 55%;
        }
    }
    @media(max-width: 1199px){
        gap: 1.25rem;
    }
    @media(max-width: 991px){
        gap: 1rem;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        &_left {
            flex: unset;
            width: 100%;
        }
    }
    @media(max-width: 767px){
        gap: 0.75rem;
    }
    @media(max-width: 577px){
        gap: 0.5rem;
    }
}
.galleryProductBox {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    &_item {
        width: calc(50% - 0.375rem);
        position: relative;
        border-radius: 35px;
        cursor: pointer;
        aspect-ratio: 1/2.18;
        overflow: hidden;
        border-radius: 7% / 20px;
        .zIndexHide {
            position: relative;
            z-index: -1;
            width: 100%;
            height: 100%;
        }
        &_backgroundImage {
            width: 100%;
            height: 100%;
            border-radius: inherit;
        }
        img {
            object-fit: contain;
            border-radius: inherit;
        }
        &_note {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: linear-gradient(90deg, transparent, rgb(0,0,0), transparent);
            color: rgb(var(--colorText));
            text-shadow: 1px 1px 15px #333;
            font-size: calc(var(--fontSizeNormal) - 0.025rem);
            text-align: center;
            padding: 0.2rem 0.5rem;
        }
        @include backgroundFillWallpaperOfProduct;
    }
    &.mobile {
        margin-bottom: 1.5rem;
        .galleryProductBox_item {
            margin-top: 0 !important;
        }
        .slick-track {
            display: flex;
        }
    }
    .highLight {
        
        color: rgb(var(--colorTextLight));
    }
    @media(max-width: 1199px){
        gap: 0.875rem 0.625rem;
        &_item {
            width: calc(50% - 0.3125rem);
        }
    }
    @media(max-width: 991px){
        gap: 0.75rem 0.5rem;
        &_item {
            width: calc(33.3333% - 0.3333rem);
        }
    }
    @media(max-width: 767px){
        gap: 0.625rem 0.325rem;
        &_item {
            width: calc(50% - 0.1625rem);
        }
    }
}
.productDetailBox {
    position: sticky;
    top: calc(52.5px + 1.5rem);
    &_detail {
        &_title {
            @include titleDefault;
        }
        &_rating {
            margin-bottom: 0.5rem;
        }
        &_description {
            text-align: justify;
            &.customScrollBar-y {
                padding-right: 0.5rem;
            }
        }
        &_option {
            &_title {
                font-weight: bold;
                font-size: calc(var(--fontSizeNormal) + 0.075rem);
                display: inline-block;
            }
            &_box {
                display: flex;
                align-items: flex-end;
                flex-wrap: wrap;
                gap: 0.75rem 0.5rem;
                letter-spacing: 0.25px;
                &_item {
                    font-size: calc(var(--fontSizeNormal) - 0.075rem);
                    
                    display: inline-block;
                    color: rgb(var(--colorText));
                    padding: 0.15rem 1rem;
                    border-radius: $radiusBoxSmall;
                    border: 1px solid rgb(var(--colorBackgroundLv3));
                    background: rgba(var(--colorBackgroundLv2), 0.15);
                    cursor: pointer;
                    &:first-child {
                        border: none;
                        background: none;
                    }
                    &:hover {
                        background: rgb(var(--colorBackgroundLv2));
                    }
                    &.selected {
                        background: rgb(var(--colorBackgroundLv2));
                        
                    }
                }
            }
        }
        &_price {
            min-height: 40px; /* dùng cho ajax */
            &_item {
                display: none;
                align-items: center;
                gap: 1.5rem;
                letter-spacing: 1px;
                &_real {
                    color: rgb(var(--colorPrice));
                    letter-spacing: 2px;
                    font-size: calc(var(--fontSizeNormal) + 0.675rem);
                    font-weight: 700;
                    font-family: $fontTitle;
                }
                &_old {
                    color: rgba(var(--colorText), 0.75);
                    font-size: calc(var(--fontSizeNormal) + 0.075rem);
                    text-decoration: line-through;
                }
                &_saleoff {
                    color: #fff;
                    background: rgb(var(--colorRed));
                    font-size: calc(var(--fontSizeNormal) + 0.075rem);
                    padding: 0.25rem 1rem;
                    text-shadow: 1px 1px 10px rgba(var(--colorBackgroundLv1), 0.5);
                    clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &.selected {
                    display: flex;
                }
            }
        }
        &_checkout {
            display: flex;
            align-items: center;
            // margin: 1.5rem 0;
            &_qty {
                flex: 0 0 fit-content;
            }
            &_button {
                width: 100%;
                display: flex;
                gap: 1rem;
                > * {
                    width: 100%;
                    &:not(:first-child){
                        border-left: 1px dashed rgb(var(--colorBackgroundLv3));
                    }
                    &:dir(rtl), [dir="rtl"] & {
                        &:not(:last-child){
                            border-left: unset;
                            border-right: 1px dashed rgb(var(--colorBackgroundLv3));
                        }
                    }
                }
                button {
                    width: 100%;
                    // height: 45px !important;
                    display: flex;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    font-family: $fontText;
                    align-items: center;
                    justify-content: center;
                    gap: 0.75rem;
                    svg {
                        width: 1.3rem;
                        height: 1.3rem;
                        overflow: visible;
                    }
                    &.buyNow {
                        svg {
                            color: #fff;
                            margin-top: 2px; /* do hiệu ứng sóng của icon*/
                        }
                    }
                }
                svg {
                    color: rgb(var(--colorIcon));
                }
            }
            @media(max-width: 991px){
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                margin: 0;
                padding: 0;
                background: rgb(var(--colorBackgroundLv2));
                border-radius: $radiusBoxSmall $radiusBoxSmall 0 0;
                overflow: hidden;
                box-shadow: 0 -1px 5px var(--colorShadow);
                &_button {
                    flex-wrap: nowrap;
                    gap: 0;
                    button {
                        border-radius: 0;
                        height: $heightMenu !important;   
                        font-size: var(--fontSizeNormal);
                        display: flex;
                        padding: 0.5rem;
                    }
                }
                .priceMobile {
                    min-width: 100px;
                    display: flex !important;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    color: rgb(var(--colorTextLight));
                    letter-spacing: 2px;
                    font-size: calc(var(--fontSizeNormal) + 0.375rem);
                    font-family: $fontTitle;
                    font-weight: bold;
                    margin: 0 auto;
                }
            }
            @media(max-width: 767px){
                &_button {
                    button {
                        // font-size: 0.875rem !important;
                        img {
                            width: 1.15rem;
                        }
                    }
                }
                .priceMobile {
                    font-size: calc(var(--fontSizeNormal) + 0.325rem);
                }
            }
            @media(max-width: 577px){
                &_button {
                    button {
                        // font-size: 0.85rem !important;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        gap: 0.25rem;
                        padding: 0.25rem 0.5rem;
                    }
                }
                .priceMobile {
                    font-size: calc(var(--fontSizeNormal) + 0.275rem);
                }
            }
        }
    }
    .highLight {
        @include highLight;
    }
}
.ratingBox {
    display: flex;
    font-size: calc(var(--fontSizeNormal) - 0.1rem);
    opacity: var(--opacityNormal);
    > * {
        &:not(:first-child){
            margin-left: 0.5rem;
            padding-left: 0.5rem;
            border-left: 1px solid var(--bg-05);
        }
    }
    &_numberSell {
        > span {
            
            color: rgb(var(--colorText));
            margin: 0 0.25rem;
        }
    }
    &_star {
        display: flex;
        > * {
            &:not(:first-child){
                margin-left: 0.25rem;
            }
        }
        &_box {
            display: flex;
            > * {
                &:not(:first-child){
                    margin-left: 0.15rem;
                }
            }
            &_on {
                color: rgb(var(--colorStar));
            }
        }
        &_total {
            > span {
                
                color: rgb(var(--colorText));
                margin: 0 0.25rem;
            }
        }
    }
}
.inputQty {
    display: flex;
    max-width: 150px;
    font-size: calc(var(--fontSizeNormal) + 0.075rem);
    border: 1px solid var(--bg-05);
    border-radius: 30px;
    height: 45px;
    > * {
        &:not(:first-child){
            border-left: 1px solid var(--bg-05);
        }
    }
    &_button {
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 47.5px;
        cursor: pointer;
        &.minus {
            border-radius: 30px 0 0 30px;
        }
        &.plus {
            border-radius: 0 30px 30px 0;
        }
        i {
            font-size: calc(var(--fontSizeNormal) - 0.025rem);
        }
    }
    input {
        border: none;
        border-radius: unset;
        text-align: center;
        padding: 0;
        overflow: hidden;
        /* Firefox */
        -moz-appearance: textfield;
        /* Chrome, Safari, Edge, Opera */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    @media(max-width: 767px){
        height: 40px;
        max-width: 130px;
        border-radius: 20px;
        .inputQty_button {
            flex: 0 0 40px;
            &.minus {
                border-radius: 20px 0 0 20px;
            }
            &.plus {
                border-radius: 0 20px 20px 0;
            }
        }
        input {
            flex: 0 0 45px;
        }
    }
    &.small {
        height: 35px;
        max-width: 120px;
        border-radius: 20px;
        .inputQty_button {
            flex: 0 0 35px;
            &.minus {
                border-radius: 20px 0 0 20px;
            }
            &.plus {
                border-radius: 0 20px 20px 0;
            }
        }
        input {
            flex: 0 0 45px;
        }
    }
    &.mini {
        height: 30px;
        max-width: 110px;
        border-radius: $radiusBoxSmall;
        .inputQty_button {
            flex: 0 0 30px;
            &.minus {
                border-radius: $radiusBoxSmall 0 0 $radiusBoxSmall;
            }
            &.plus {
                border-radius: 0 $radiusBoxSmall $radiusBoxSmall 0;
            }
        }
        input {
            flex: 0 0 45px;
        }
    }
}
.productGridBox {
    @include productGrid;
}
@keyframes MuiSkeleton-keyframes-wave {
    0% {
      transform: translateX(-100%);
    }
    60% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(100%);
    }
}
.viewImageFullBox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    z-index: 1000;
    align-items: center;
    justify-content: center;

    &_box {
        position: relative;
        height: 96vh;
        width: calc(96vh / 2.18);
        background: rgb(var(--colorBackgroundLv1));
        border-radius: 7% / 40px;
        margin-top: 5px;
        overflow: hidden;
        cursor: grab;
        &:active {
            cursor: grabbing;
        }
        &_image {
            height: 100%;
            width: 100%;
            .zIndexHide {   
                position: relative;
                z-index: -1;
                width: 100%;
                height: 100%;
            }
            .slick-list {
                height: 100%;
                .slick-track {
                    height: inherit;
                    .slick-slide {
                        position: relative;
                        border-radius: 7% / 40px;
                        overflow: hidden;
                    }
                }
            }
            .slick-arrow {
                position: absolute;
                width: 50px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
                background: none;
                color: rgba(var(--colorText), var(--opacityNormal));
                box-shadow: none;
                border: none;
                font-size: 40px;
                cursor: pointer;
                &.slick-prev {
                    left: -50px;
                }
                &.slick-next {
                    right: -50px;
                }
                @media(max-width: 767px){
                    &.slick-prev {
                        left: -20px;
                    }
                    &.slick-next {
                        right: -20px;
                    }
                }
            }
            .slick-dots {
                display: flex;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                padding: 0;
                margin: 0 0 1.5rem 0;
                flex-wrap: wrap;
                justify-content: center;
                cursor: pointer;
                gap: 0.75rem;
                li {
                    list-style: none;
                    button {
                        background: rgb(var(--colorIcon));
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
                        border-radius: 20px;
                        width: 30px;
                        height: 4px;
                        border: none;
                    }
                    &.slick-active {
                        button {
                            background: rgb(var(--colorTextLight));
                        }
                    }
                    // &.slick-active {
                    //     button {
                    //         background: none;
                    //         &:before {
                    //             color: yellow;
                    //         }
                    //     }
                    // }
                }   
            }
            /* background */
            @include backgroundFillWallpaperOfProduct;
            &_backgroundTopMore {
                z-index: 1 !important;
            }
            &_backgroundSideMore {
                z-index: 1 !important;
            }
        }
        &_close {
            @include iconCloseSquare;
            position: fixed;
            border-radius: 0 0 0 0.75rem;
        }
    }
    &_background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(var(--colorBackgroundLv2), 0.5);
        z-index: -1;
    }
}
.infoImageSourceTable {
    &_title {
        @include titleDefault;
    }
    table {
        border: 1px solid rgb(var(--colorBackgroundLv3));
        border-radius: 0.75rem;
        overflow: hidden;
        width: 100%;    
        min-width: unset;
        tr {
            td {
                text-align: center !important;
                padding: 0.625rem;
                border-left: 1px solid rgb(var(--colorBackgroundLv2));
                border-bottom: 1px solid rgb(var(--colorBackgroundLv3));
            }
        }
        thead {
            tr {
                td {
                    background: rgb(var(--colorBackgroundLv2));
                    font-family: $fontTitle;
                    font-weight: 700;
                    font-size: calc(var(--fontSizeNormal) + 0.075rem)
                }
            }
        }
        tbody {
            tr {
                &:nth-child(2n + 2){
                    td {
                        background: rgba(var(--colorBackgroundLv2), calc(var(--opacityNormal) - 0.25));
                    }
                }
            }
        }
    }
}