/* Home ===== màn hình đầu tiên */
@import 'childs/default.scss';
@import 'childs/base.scss';
@import 'childs/header-top.scss';
@import 'childs/header-side.scss';
@import 'childs/breadcrumb.scss';
@import 'childs/wallpaper.scss';
/* Home ===== kém quan trọng (nhưng ít nên đưa vào đây luôn) */
@import 'childs/relatedBox.scss';
@import 'childs/footer.scss';
@import 'childs/right.scss';
@import 'childs/login.scss';
@import 'childs/modal.scss';

.pageProductDetailBox {
    display: flex;
    align-items: stretch;
    gap: 1.5rem; /* gap lấy theo .distanceBetweenBox */
    &_left {
        flex: 0 0 47%;
        display: flex;
        flex-direction: column;
    }
    &_right {
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }
    @media(max-width: 1799px){
        &_left {
            flex: 0 0 52%;
        }
    }
    @media(max-width: 1499px){
        &_left {
            flex: 0 0 55%;
        }
    }
    @media(max-width: 1199px){
        gap: 1.25rem;
    }
    @media(max-width: 991px){
        gap: 1rem;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        &_left {
            flex: unset;
            width: 100%;
        }
    }
    @media(max-width: 767px){
        gap: 0.75rem;
    }
    @media(max-width: 577px){
        gap: 0.5rem;
    }
}
.galleryProductBox {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    &_item {
        width: calc(50% - 0.375rem);
        position: relative;
        border-radius: 35px;
        cursor: pointer;
        aspect-ratio: 1/2.18;
        overflow: hidden;
        border-radius: 7%;
        .zIndexHide {
            position: relative;
            z-index: -1;
            width: 100%;
            height: 100%;
        }
        &_backgroundImage {
            width: 100%;
            height: 100%;
            border-radius: inherit;
        }
        img {
            object-fit: contain;
            border-radius: inherit;
        }
        &_note {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: linear-gradient(90deg, transparent, rgb(0,0,0), transparent);
            color: $colorText;
            text-shadow: 1px 1px 15px #333;
            font-size: 0.9rem;
            text-align: center;
            padding: 0.2rem 0.5rem;
        }
        @include backgroundFillWallpaperOfProduct;
    }
    &.mobile {
        margin-bottom: 1.5rem;
        .galleryProductBox_item {
            margin-top: 0 !important;
        }
        .slick-track {
            display: flex;
        }
    }
    .highLight {
        font-family: $fontTitle;
        color: $colorTextLight;
    }
    @media(max-width: 1199px){
        gap: 0.875rem 0.625rem;
        &_item {
            width: calc(50% - 0.3125rem);
        }
    }
    @media(max-width: 991px){
        gap: 0.75rem 0.5rem;
        &_item {
            width: calc(33.3333% - 0.3333rem);
        }
    }
    @media(max-width: 767px){
        gap: 0.625rem 0.325rem;
        &_item {
            width: calc(50% - 0.1625rem);
        }
    }
}
.productDetailBox {
    position: sticky;
    top: calc(52.5px + 1.5rem);
    &_detail {
        &_title {
            @include titleDefault;
        }
        &_rating {
            margin-bottom: 0.5rem;
        }
        &_description {
            text-align: justify;
            &.customScrollBar-y {
                padding-right: 0.5rem;
            }
        }
        &_option {
            &_title {
                font-weight: bold;
                font-size: 1rem;
                display: inline-block;
            }
            &_box {
                display: flex;
                align-items: flex-end;
                flex-wrap: wrap;
                gap: 0.5rem 0.25rem;
                &_item {
                    font-size: 0.9rem;
                    display: inline-block;
                    background: $colorBackgroundLv2;
                    color: $colorText;
                    padding: 0.15rem 0.75rem;
                    border-radius: 100px;
                    cursor: pointer;
                    &:hover {
                        background: $colorBackgroundLv3;
                    }
                    &.selected {
                        background: $colorBackgroundLv3;
                        color: $colorTextLight;
                        font-family: $fontTitle;
                    }
                }
            }
        }
        &_price {
            min-height: 40px; /* dùng cho ajax */
            &_item {
                display: none;
                align-items: center;
                gap: 1.5rem;
                letter-spacing: 1px;
                &_real {
                    color: $colorPrice;
                    letter-spacing: 2.5px;
                    font-size: 1.5rem;
                    font-weight: 700;
                }
                &_old {
                    @include colorOpacity('color', $colorText, 0.6);
                    font-size: 1rem;
                    text-decoration: line-through;
                }
                &_saleoff {
                    color: #fff;
                    @include colorOpacity('background', $colorRed, 0.8);
                    font-size: 1rem;
                    padding: 0.25rem 0.5rem;
                    border-radius: 50%;
                    aspect-ratio: 1.5/1;
                    text-shadow: 1px 1px 10px $colorBackgroundLv1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &.selected {
                    display: flex;
                }
            }
        }
        &_checkout {
            display: flex;
            align-items: center;
            // margin: 1.5rem 0;
            &_qty {
                flex: 0 0 fit-content;
            }
            &_button {
                width: 100%;
                display: flex;
                gap: 1rem;
                > * {
                    width: 100%;
                    &:not(:first-child){
                        border-left: 1px dashed $colorBackgroundLv3;
                    }
                    &:dir(rtl), [dir="rtl"] & {
                        &:not(:last-child){
                            border-left: unset;
                            border-right: 1px dashed $colorBackgroundLv3;
                        }
                    }
                }
                button {
                    width: 100%;
                    height: 45px !important;
                    display: flex;
                    padding: 0.375rem 1rem;
                    font-family: $fontText;
                    align-items: center;
                    justify-content: center;
                    gap: 0.75rem;
                    img {
                        width: 1.3rem;
                    }
                }
                // @media(max-width: 1199px){
                //     gap: 0.75rem;
                // }
            }
            // @media(max-width: 1499px){
            //     &_button {
            //         flex-direction: column;
            //         gap: 1.25rem;
            //     }
            // }
            @media(max-width: 991px){
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                margin: 0;
                padding: 0;
                background: $colorBackgroundLv2;
                border-radius: 0.5rem 0.5rem 0 0;
                overflow: hidden;
                box-shadow: 0 -1px 5px $colorBackgroundLv1;
                &_button {
                    flex-wrap: nowrap;
                    gap: 0;
                    button {
                        border-radius: 0;
                        height: $heightMenu !important;   
                        font-size: 0.9rem !important;
                        display: flex;
                        padding: 0.5rem;
                    }
                }
                .priceMobile {
                    min-width: 100px;
                    display: flex !important;
                    align-items: center;
                    height: 100%;
                    color: $colorTextLight;
                    letter-spacing: 2.5px;
                    font-size: 1.2rem;
                    font-family: $fontTitle;
                    margin: 0 auto;
                }
            }
            @media(max-width: 767px){
                &_button {
                    button {
                        font-size: 0.875rem !important;
                        img {
                            width: 1.15rem;
                        }
                    }
                }
                .priceMobile {
                    padding-left: 1rem;
                    font-size: 1.1rem;
                }
            }
            @media(max-width: 577px){
                &_button {
                    button {
                        font-size: 0.85rem !important;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        gap: 0.25rem;
                        padding: 0.25rem 0.5rem;
                    }
                }
            }
        }
    }
    .highLight {
        @include highLight;
    }
}
.ratingBox {
    display: flex;
    font-size: 0.825rem;
    opacity: 0.75;
    > * {
        &:not(:first-child){
            margin-left: 0.5rem;
            padding-left: 0.5rem;
            border-left: 1px solid $bg-05;
        }
    }
    &_numberSell {
        > span {
            font-family: $fontTitle;
            color: $colorText;
            margin: 0 0.25rem;
        }
    }
    &_star {
        display: flex;
        > * {
            &:not(:first-child){
                margin-left: 0.25rem;
            }
        }
        &_box {
            display: flex;
            > * {
                &:not(:first-child){
                    margin-left: 0.15rem;
                }
            }
            &_on {
                color: $colorStar;
            }
        }
        &_total {
            > span {
                font-family: $fontTitle;
                color: $colorText;
                margin: 0 0.25rem;
            }
        }
    }
}
.inputQty {
    display: flex;
    max-width: 150px;
    font-size: 1rem;
    border: 1px solid $bg-05;
    border-radius: 30px;
    height: 45px;
    > * {
        &:not(:first-child){
            border-left: 1px solid $bg-05;
        }
    }
    &_button {
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 47.5px;
        cursor: pointer;
        &.minus {
            border-radius: 30px 0 0 30px;
        }
        &.plus {
            border-radius: 0 30px 30px 0;
        }
        i {
            font-size: 0.9rem;
        }
    }
    input {
        border: none;
        border-radius: unset;
        text-align: center;
        padding: 0;
        overflow: hidden;
        /* Firefox */
        -moz-appearance: textfield;
        /* Chrome, Safari, Edge, Opera */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    @media(max-width: 767px){
        height: 40px;
        max-width: 130px;
        border-radius: 20px;
        .inputQty_button {
            flex: 0 0 40px;
            &.minus {
                border-radius: 20px 0 0 20px;
            }
            &.plus {
                border-radius: 0 20px 20px 0;
            }
        }
        input {
            flex: 0 0 45px;
        }
    }
    &.small {
        height: 35px;
        max-width: 120px;
        border-radius: 20px;
        .inputQty_button {
            flex: 0 0 35px;
            &.minus {
                border-radius: 20px 0 0 20px;
            }
            &.plus {
                border-radius: 0 20px 20px 0;
            }
        }
        input {
            flex: 0 0 45px;
        }
    }
    &.mini {
        height: 30px;
        max-width: 110px;
        border-radius: 0.5rem;
        .inputQty_button {
            flex: 0 0 30px;
            &.minus {
                border-radius: 0.5rem 0 0 0.5rem;
            }
            &.plus {
                border-radius: 0 0.5rem 0.5rem 0;
            }
        }
        input {
            flex: 0 0 45px;
        }
    }
}
.productGridBox {
    @include productGrid;
}
.viewMoreText {
    cursor: pointer;
    text-align: right;
    &:dir(rtl), [dir="rtl"] & {
        text-align: left;
    }
    color: $colorText;
    &:after {
        content: '\f107';
        @include fontAwesome;
        margin-left: 0.25rem;
        font-size: 0.9rem;
    }
    &.open {
        &:after {
            content: '\f106';
        }
    }
}
@keyframes MuiSkeleton-keyframes-wave {
    0% {
      transform: translateX(-100%);
    }
    60% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(100%);
    }
}
.viewImageFullBox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    z-index: 1000;
    align-items: center;
    justify-content: center;

    &_box {
        position: relative;
        height: 95vh;
        aspect-ratio: 1/2.18;
        width: calc(95vh / 2.18);
        background: $colorBackgroundLv1;
        border-radius: 3vh;
        &_image {
            height: 95vh;
            // width: 400px;
            border-radius: 3vh;
            img {
                border-radius: 3vh;
                // height: 100%;
                // width: 100%;
            }
            .zIndexHide {   
                position: relative;
                z-index: -1;
                width: 100%;
                height: 100%;
            }
            .slick-list {
                height: 100%;
                .slick-track {
                    height: inherit;
                    .slick-slide {
                        position: relative;
                        border-radius: 7%;
                        overflow: hidden;
                    }
                }
            }
            .slick-arrow {
                position: absolute;
                width: 50px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
                background: none;
                @include colorOpacity('color', $colorText, 0.8);
                box-shadow: none;
                border: none;
                font-size: 40px;
                cursor: pointer;
                &.slick-prev {
                    left: -50px;
                }
                &.slick-next {
                    right: -50px;
                }
                @media(max-width: 767px){
                    &.slick-prev {
                        left: -20px;
                    }
                    &.slick-next {
                        right: -20px;
                    }
                }
            }
            .slick-dots {
                display: flex;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                padding: 0 0.5rem;
                flex-wrap: wrap;
                justify-content: center;
                cursor: pointer;
                li {
                    list-style: none;
                    width: 20px;
                    height: 20px;
                    button {
                        background: none;
                        color: $colorBackgroundLv1;
                        border-radius: 50%;
                        aspect-ratio: 1/1;
                        width: 25px;
                        border: none;
                        box-shadow: none;
                        &:before {
                            content: "•";
                            @include colorOpacity('color', $colorText, 0.5);
                            font-size: 25px;
                        }
                    }
                    &.slick-active {
                        button {
                            background: none;
                            &:before {
                                color: yellow;
                            }
                        }
                    }
                    // &:not(:first-child){
                    //     margin-left: 3px;
                    // }
                }   
            }
            /* background */
            @include backgroundFillWallpaperOfProduct;
            &_backgroundTopMore {
                z-index: 1 !important;
            }
            &_backgroundSideMore {
                z-index: 1 !important;
            }
        }
        &_close {
            // position: absolute;
            // top: 5px;
            // right: 5px;
            // border-radius: 50%;
            // @include colorOpacity('background', $colorBackgroundLv3, 0.6);
            // width: 35px;
            // aspect-ratio: 1/1;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // cursor: pointer;
            // font-size: 0.7rem;
            // &:hover {
            //     @include colorOpacity('background', $colorBackgroundLv3, 0.8);
            // }
            @include iconCloseSquare;
            border-radius: 50% !important;
        }
    }
    &_background {
        position: fixed;
        z-index: -1;
        width: 100%;
        height: 100%;
        @include colorOpacity('background', $colorBackgroundLv1, 0.8);
    }
}