.wallpaperGridBox {
    display: flex;
    // grid-template-columns: auto auto auto auto auto;
    width: 100%;
    gap: 1rem 0.75rem;
    flex-wrap: wrap;
    position: relative;
    &.slickBox {
        flex-wrap: unset !important;
        // .wallpaperGridBox_item, .wallpaperGridBox_itemBackground {
        //     margin-top: 0 !important;
        //     &:first-child {
        //         margin-left: 0 !important;
        //     }
        //     @media(max-width: 1199px){
        //         &:nth-child(3n + 1){
        //             margin-left: 0.75rem;
        //         }
        //     }
        //     @media(max-width: 1023px){
        //         &:nth-child(4n + 1){
        //             margin-left: 0.75rem;
        //         }
        //     }
        //     @media(max-width: 577px){
        //         &:nth-child(2n + 1){
        //             margin-left: 0.5rem;
        //         }
        //     }
        // }
    }
    &_item, &_itemBackground {
        width: calc(20% - 0.6rem);
    }
    &_item {
        border-radius: 12px;
        position: relative;
        .show {
            width: 100%;
            height: auto;
            opacity: 1;
            transition: opacity 0.5s;
        }
        .hide {
            width: 0;
            height: 0;
            opacity: 0;
        }
        &_image {
            margin-bottom: 0;
            position: relative;
            border-radius: inherit;
            display: flex;
            aspect-ratio: 1/2.18;
            overflow: hidden;
            border-radius: 7%;
            .zIndexHide {
                position: relative;
                z-index: -1;
                width: 100%;
                height: 100%;
            }
            &_backgroundImage {
                width: 100%;
                height: 100%;
            }
            img {
                transition: all 0.3s;
                border-radius: inherit;
                width: 100%;
                height: 100%;
                display: flex;
                object-fit: contain;
                position: relative;
                z-index: -1;
            }
            &_rating {
                position: absolute;
                top: 0;
                left: 0;
                @include colorOpacity('background', $colorBackgroundLv1, 0.8);
                padding: 0.1rem 0.5rem;
                display: flex;
                color: $colorText;
                font-size: 0.8rem;
                border-top-left-radius: inherit;
                border-bottom-right-radius: 10px;
                img {
                    width: 10px;
                    margin-right: 0.3rem;
                }
                > * {
                    display: flex;
                    &:not(:first-child){
                        margin-left: 0.25rem;
                        padding-left: 0.25rem;
                        border-left: 1px solid $bg-07;
                    }
                }
            }
            &_percent {
                position: absolute;
                top: 0;
                right: 0;
                @include colorOpacity('background', $colorPrice, 0.8);
                padding: 0.1rem 0.5rem;
                display: flex;
                color: $colorTitle;
                text-shadow: 0 0 5px $colorBackgroundLv1;
                font-size: 0.8rem;
                font-family: $fontTitle;
                border-top-right-radius: inherit;
                border-bottom-left-radius: 10px;
                letter-spacing: 2px;
            }
            &_content {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 2;
                padding: 0.5rem 0.75rem;
                width: 100%;
                &_title {
                    position: relative;
                    height: 2.75rem;
                    margin-bottom: 0.375rem;
                    h2, h3, h4 {
                        font-family: $fontText;
                        font-weight: normal;
                        font-size: 0.9rem;
                        margin-bottom: 0 !important;
                        color: $colorText;
                        line-height: 1.58;
                    }
                }
                &_price {
                    color: $colorPrice;
                    font-size: 1rem;
                    font-weight: bold;
                    letter-spacing: 2px;
                    display: flex;
                    align-items: flex-end;
                    height: 30px;
                    position: relative;
                    gap: 0.5rem;
                    &_quantity {
                        position: absolute;
                        transform: translateY(-50%);
                        color: $colorText;
                        text-shadow: 0 0 10px #000;
                        font-size: 0.875rem;
                        opacity: 0.65;
                        font-family: $fontTitle;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        gap: 0.25rem;
                        top: 50%;
                        [dir="ltr"] & {
                            right: 0;
                        }
                        [dir="rtl"] & {
                            left: 0;
                        }
                        i {
                            margin-top: 0;
                            font-size: 0.825rem;
                        }
                    }
                    > span {
                        font-size: 0.85rem;
                        font-weight: normal;
                        @include colorOpacity('color', $colorText, 0.6);
                        text-decoration: line-through;
                        // margin-left: 0.5rem;
                        display: flex;
                    }
                }
            }
            /* background */
            @include backgroundFillWallpaperOfProduct;
        }
        &_action {
            position: absolute;
            font-size: 0.9rem;
            @include colorOpacity('background', $colorBackgroundLv2, 0.6);
            padding: 0.5rem 0;
            display: flex;
            gap: 0;
            border-bottom-left-radius: 10px;
            border-top-right-radius: 12px;
            z-index: -1;
            top: 0.25rem;
            [dir="ltr"] & {
                right: 0.375rem;
            }
            [dir="rtl"] & {
                left: 0.375rem;
            }
            .addToCart, .heart {
                height: 0.9rem;
                aspect-ratio: 1/1;
                opacity: 0.75;  
                transition: all 0.3s;
                cursor: pointer;
                padding-inline-start: 2.25rem;
                background-size: 100% 100% !important;
                &:not(:first-child){
                    border-inline-start: 1px solid rgba($colorText, 0.25);
                }
            }
            .addToCart {
                background: url('/storage/images/svg/icon-cart-header.svg') no-repeat center center;
                &:hover {
                    background: url('/storage/images/svg/icon-cart-header-success.svg') no-repeat center center !important;
                    background-size: 100% 100% !important;
                }
            }
            .heart {
                background: url('/storage/images/svg/icon-heart-1.svg') no-repeat center center;
                &:hover {
                    background: url('/storage/images/svg/icon-heart-1-success.svg') no-repeat center center !important;
                    background-size: 100% 100% !important;
                }
            }
        }
        &_imageList {
            display: flex;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            gap: 0.5rem;
            &_item {
                width: 20%;
                aspect-ratio: 1/1;
                border-radius: 50%;
                cursor: pointer;
                overflow: hidden;
                border: 1px solid transparent;
                background: $colorBackgroundLv2;
                position: relative;
                &_backgroundImage {
                    width: 100%;
                    height: 100%;
                }
                &_count {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,0.8);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $colorBackgroundLv3;
                    border-radius: 50%;
                    letter-spacing: 0.5px;
                    font-size: 0.95rem;
                    color: $colorText;
                }
                img {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    transition: all 0.3;
                    border-radius: inherit;
                    object-fit: cover;
                }
                &.selected, &:hover {
                    border: 1px solid $colorLabel;
                }
            }
        }
    }
    &_itemBackground {
        // @include colorOpacity('background', $colorBackgroundLv1, 0.8);
        background: rgba(0,0,0,0.25);
        aspect-ratio: 1/2.18;
        border-radius: 12px;
    }
    @media(max-width: 1799px){
        // grid-template-columns: auto auto auto auto;
        &_item, &_itemBackground {
            width: calc(25% - 0.5625rem);
        }
    }
    @media(max-width: 1199px){
        gap: 0.875rem 0.625rem;
        // grid-template-columns: auto auto auto;
        &_item, &_itemBackground {
            width: calc(33.33% - 0.41438rem);
            // &_image {
            //     &_content {
            //         &_price {
            //             i {
            //                 /* sửa chênh lệch khi thay đổi rem của i và text */
            //                 margin-top: 0.2rem;
            //             }
            //         }
            //     }
            // }
        }
        
    }
    @media(max-width: 1023px){
        gap: 0.75rem 0.5rem;
        // grid-template-columns: auto auto auto auto;
        &_item, &_itemBackground {
            width: calc(25% - 0.375rem);
            &_image {
                &_content {
                    &_title {
                        margin-bottom: 0.25rem;
                    }
                }
            }
        }
    }
    @media(max-width: 990px){
        // grid-template-columns: auto auto auto;
        &_item, &_itemBackground {
            width: calc(33.33% - 0.331rem);
        }
    }
    @media(max-width: 767px){
        gap: 0.625rem 0.375rem;
        grid-template-columns: auto auto auto;
        &_item, &_itemBackground {
            width: calc(33.33% - 0.25rem);
            &_image {
                &_content {
                    &_title {
                        margin-bottom: 0;
                        h2, h3, h4 {
                            font-size: 0.875rem;
                        }
                    }
                    &_price {
                        font-size: 0.95rem;
                        > span {
                            display: none;
                        }
                    }
                }
            }
            &_action {
                .addToCart, .heart {
                    height: 0.875rem;
                    padding-inline-start: 2.125rem;
                }
            }
        }
    }
    @media(max-width: 577px){
        gap: 0.5rem 0.25rem;
        // grid-template-columns: auto auto;
        &_item, &_itemBackground {
            width: calc(50% - 0.125rem);
            &_image {
                &_content {
                    padding: 0.5rem;
                    // &_title {
                        
                    //     h2, h3, h4 {
                    //         font-size: 0.85rem;
                    //     }
                    // }
                    &_price {
                        &_quantity {
                            gap: 0.125rem;
                        }
                    }
                }
            }
            &_imageList {
                display: none;
            }
        }
    }
}

.breadcrumbBox {
    overflow: hidden;
    @include colorOpacity('color', $colorText, 0.7);
    font-size: 0.9rem;
    font-weight: normal;
    opacity: 0.75;
    margin-top: 0.75rem;
    a {
        color: $colorText;
        &:hover {
            color: $colorTextLight;
        }
        &:after {
            @include fontAwesome;
            content: '\f101';
            margin-right: 0.5rem;
            margin-left: 0.75rem;
            font-size: 0.6rem;
            color: $bg-06;
        }
    }
    @media(max-width: 1023px){
        margin-top: 0.5rem;
    }
    @media(max-width: 767px){
        font-size: 0.85rem;
    }
}

.breadcrumbMobileBox {
    display: none;
    @media(max-width: 1023px){
        display: flex;
    }
}

.settingViewBox {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: $colorText;
    cursor: pointer;
    &:hover {
        color: $colorTextLight;
    }
}

.filterStyleWallpaper {
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    &_item {
        background: $colorBackgroundLv2;
        border-radius: 10px;
        padding: 0.2rem 0.75rem;
        box-shadow: 1px 1px 5px rgb(0 0 0 / 10%);
        cursor: pointer;
    }
}
.shareSocialBox {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    opacity: 0.7;
    z-index: 995;
    bottom: 60px;
    [dir="ltr"] & {
        right: 0.75rem;
    }
    [dir="rtl"] & {
        left: 0.75rem;
    }
    &:hover {
        opacity: 1;
    }
    &_item {
        &:not(:last-child){
            margin-bottom: 0.25rem;
        }
        &_icon {
            display: flex;
            cursor: pointer;
            width: 37px;
            aspect-ratio: 1/1;
            &.facebook {
                background: url('/storage/images/svg/facebook.png') no-repeat;
                background-size: 100% 100%;
                &:hover {
                    background: url('/storage/images/svg/facebook-color.png') no-repeat;
                    background-size: 100% 100% !important;
                }
            }
            &.instagram {
                background: url('/storage/images/svg/instagram.png') no-repeat;
                background-size: 100% 100%;
                &:hover {
                    background: url('/storage/images/svg/instagram-color.png') no-repeat;
                    background-size: 100% 100% !important;
                }
            }
            &.twitter {
                background: url('/storage/images/svg/twitter.png') no-repeat;
                background-size: 100% 100%;
                &:hover {
                    background: url('/storage/images/svg/twitter-color.png') no-repeat;
                    background-size: 100% 100% !important;
                }
            }
            &.email {
                background: url('/storage/images/svg/email.png') no-repeat;
                background-size: 100% 100%;
                &:hover {
                    background: url('/storage/images/svg/email-color.png') no-repeat;
                    background-size: 100% 100% !important;
                }
            }
        }
        &_text {
            font-size: 0.7rem;
            line-height: 1.2;
            padding: 0.25rem 0.5rem;
            background: $colorBackgroundLv3;
            border-radius: 10px;
        }
    }
    @media(max-width: 1199px){
        bottom: 110px;
        &_item {
            &_text {
                font-size: 0.65rem;
            }
        }
    }
    @media(max-width: 1023px){
        align-items: flex-start;
        flex-direction: row;
        bottom: calc($heightMenu + 3px);
        [dir="ltr"] & {
            left: 10px;
            right: unset;
        }
        [dir="rtl"] & {
            right: 10px;
            left: unset;
        }
        &_item {
            margin-bottom: 0;
            &:not(:first-child){
                margin-right: 0.25rem;
            }
            &_text {
                display: none;
            }
        }
    }
    @media(max-width: 767px){
        // bottom: 105px;
        &_item {
            &_icon {
                width: 35px;
            }
        }
        &_text {
            font-size: 0.6rem;
        }
    }
}

.downloadBox {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    &_item {
        padding-top: 0.75rem;
        &:not(:first-child){
            margin-top: 0.75rem;
            border-top: 1px solid $colorBackgroundLv1;
        }
        &_order {
            display: flex;
            justify-content: space-between;

        }
        &_download {
            &_item {
                display: flex;
                align-items: flex-start;
                margin-top: 0.25rem;
                &:not(:first-child){
                    
                }
                > * {
                    &:not(:first-child){
                        margin-left: 0.75rem;
                    }
                }
                &:hover {
                    color: $colorSuccess;
                }
                img {
                    width: 20px;
                }
            }
        }
    }
}
.lazyloadWithResize, .lazyload {
    // filter: blur(8px);
    transition: opacity 0.5s ease-in-out;
    &.loaded {
        filter: unset !important;
    }
}

.freeWallpaperBox {
    // min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto, 5vw);
    gap: 15px;
    position: relative;
    &_item {
        margin-bottom: auto;
        position: relative;
        cursor: pointer;
        &:hover {
            .freeWallpaperBox_item_box {
                display: flex !important;
            }
        }
        &_image {
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                flex: 1;
                border-radius: 10px;
            }
        }
        &_box {
            display: none;
            @include colorOpacity('background', $colorBackgroundLv1, 1);
            position: absolute;
            bottom: 0.4rem;
            width: calc(100% - 1rem);
            left: 0.5rem;
            justify-content: space-between;
            align-items: center;
            font-size: 0.8rem;
            padding: 0.5rem;
            border-radius: 8px;
            z-index: 2;
            &_item {
                display: flex;
                width: fit-content;
                overflow: hidden;
                position: relative;
                width: 50%;
                .author {
                    display: flex;
                    width: 100%;
                    &_image {
                        img {
                            width: 28px;
                            aspect-ratio: 1/1;
                            object-fit: cover;
                        }
                    }
                    &_name {
                        margin-left: 0.5rem;
                    }
                }
                .feeling {
                    display: none;
                    width: 100%;
                    justify-content: flex-end;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    z-index: 3;
                    background: $colorBackgroundLv1;
                    transform: translateY(-50%);
                    &_item {
                        aspect-ratio: 1/1;
                        padding: 0.4rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        cursor: pointer;
                        &:hover {
                            background: $colorBackgroundLv2;
                        }
                    }
                }
                .action {
                    display: flex;
                    width: 100%;
                    justify-content: flex-end;
                    font-size: 0.95rem;
                    &_item {
                        padding: 0.6rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        cursor: pointer;
                        color: $colorText;
                        &:hover {
                            background: $colorBackgroundLv2;
                        }
                        i {
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
        &_icon {
            position: absolute;
            z-index: 1;
            bottom: -15px;
            right: 0.75rem;
            padding: 0.4rem 0.65rem;
            background: $colorBackgroundLv1;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            svg {
                scale: 0.8;
            }
        }
        &_preventClick {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: transparent;
            top: 0;
            left: 0;
        }
    }
    @media (max-width: 768px) {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
.categoryGrid {
    &_title {
        margin-bottom: 1rem;
        h2, h3, a {
            font-size: 1.2rem;
            font-family: $fontTitle;
            margin-bottom: 0 !important;
            color: $colorText;
        }
        @media(max-width: 990px){
            h2, h3 {
                font-size: 1.15rem;
            }
        }
        @media(max-width: 767px){
            margin-bottom: 0.75rem;
            h2, h3 {
                font-size: 1.1rem;
            }
        }
        @media(max-width: 577px){
            h2, h3 {
                font-size: 1.05rem;
            }
        }
    }
    &_box {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 1.25rem;
        &_item {
            position: relative;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            overflow: hidden;
            aspect-ratio: 9/16;
            background: $colorBackgroundLv2;
            &_image {
                display: flex;
                flex-direction: row;
                position: relative;
                width: 100%;
                height: 100%;
                img {
                    // opacity: 0;
                    object-fit: cover;
                    transition: all 1s ease-in-out;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    &.active {
                        // opacity: 0;
                        z-index: 2;
                    }
                    
                }
            }
            &_content {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: fit-content;
                transform: translateZ(1px);
                z-index: 4;
                padding: 0.5rem 1rem 0.75rem 1rem;
                font-size: 0.85rem;
                background-image: linear-gradient(360deg, rgba(45, 56, 72, 0.9) 33.33%, rgba(45, 56, 72, 0.95) 66.66%, rgba(45, 56, 72, 0.5) 100%);
                transition: all 0.1s;
                &.zoom {
                    position: fixed;
                    top: 0;
                    bottom: unset;
                    height: 100vh;
                    z-index: 9999;
                    background: $colorBackgroundLv2;
                    line-height: 2;
                    padding: 0.75rem;
                    transition: all 0.2s;
                    .categoryGrid_box_item_content_title_action {
                        &::after {
                            content: '\f00d';
                            @include iconCloseSquare;
                        }
                    }
                    .categoryGrid_box_item_content_list {
                        display: flex;
                        margin-top: 0.5rem;
                        max-height: unset;
                        font-size: 0.85rem;
                        
                    }
                }
                &_title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    a {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                    }
                    h2, h3 {
                        font-size: 0.95rem;
                        font-family: $fontTitle;
                        color: $colorLv1;
                        margin-bottom: 0;
                        text-transform: none;
                        width: inherit;
                        letter-spacing: 1px;
                        text-shadow: 0 0 $colorTextLight;
                        &:hover {
                            color: $colorLv2;
                        }
                    }
                    &_action {
                        display: none;
                        &:after {
                            content: '\f192\f192\f192';
                            @include fontAwesome;
                            @include colorOpacity('color', $colorText, 0.5);
                            text-shadow: 0 0 rgba(192, 208, 241, 0.5);
                            opacity: 0.75;    
                            font-size: 0.25rem;
                            letter-spacing: 4px;
                            width: 35px;
                            text-align: right;
                            [dir="ltr"] & {
                                margin-left: 0.5rem;
                            }
                            [dir="rtl"] & {
                                margin-left: unset;
                                margin-right: 0.5rem;
                            }
                        }
                    }
                }
                &_list {
                    display: flex;
                    flex-wrap: wrap;
                    font-size: 0.85rem;
                    margin-top: 0.35rem;
                    letter-spacing: 0.75px;
                    max-height: 157.109px;
                    overflow: hidden;
                    gap: 0.15rem 0.75rem;
                    transition: max-height 0.5s ease; // Slow transition by default
                    &:hover {
                        max-height: 500px; // Set a large enough max-height for the content
                        transition: max-height 0.5s ease; // Slow transition on hover
                    }
                    &:not(:hover) {
                        transition: max-height 0.25s ease; // Fast transition when hover is removed
                    }
                    > * {
                        color: $colorText;
                        &:not(:first-child){
                            &:before {
                                content: '\f192';
                                @include fontAwesome;
                                font-size: 0.35rem;
                                vertical-align: middle;
                                [dir="ltr"] & {
                                    margin-right: 0.75rem;
                                }
                                [dir="rtl"] & {
                                    margin-left: 0.75rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        @media(max-width: 1499px){
            grid-template-columns: auto auto auto;
        }
        @media(max-width: 1199px){
            grid-template-columns: auto auto;
        }
        @media(max-width: 1023px){
            grid-template-columns: auto auto auto;
            gap: 1rem;
            &_item {
                &_content {
                    &_title {
                        &_action {
                            display: flex;
                        }
                    }
                    &_list {
                        display: none;
                    }
                }
            }
        }
        @media(max-width: 767px){
            grid-template-columns: auto auto;
            gap: 0.75rem;
            &_item {
                &_content {
                    padding: 0.5rem 0.75rem;
                    &_title {
                        h2, h3 {
                            font-size: 0.9rem;
                        }
                    }
                    &_list {
                        margin-top: 0.25rem;
                    }
                }
            }
        }
        @media(max-width: 577px){
            gap: 0.55rem;
            &_item {
                &_content {
                    &_title {
                        h2, h3 {
                            font-size: 0.85rem;
                        }
                    }
                }
            }
        }
    }
}